{%- assign show_image = false -%}
<style>
  #shopify-section-{{ section.id }} .text-custom {
    color: unset;
  }
  #shopify-section-{{ section.id }} .collection-header {
    margin: 0;
  }
  #shopify-section-{{ section.id }} .section-blends {
    padding: 42px 0;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #shopify-section-{{ section.id }} .section-header {
    padding: 0;
  }
  @media screen and (min-width: 700px) {
    #shopify-section-{{ section.id }} .section-blends {
      padding: 76px 0;
      height: 250px;
    }
  }
</style>
{%- if section.settings.show_collection_image and collection.image or section.settings.image -%}
  {%- assign show_image = true -%}
{%- endif -%}

{%- capture collection_header -%}
  {%- if section.settings.show_collection_title -%}
    {%- render 'section-header',
      subheading: section.settings.subheading,
      heading: section.settings.title,
      heading_color: section.settings.heading_color,
      heading_gradient: section.settings.heading_gradient,
      content: section.settings.content,
      link_text: section.settings.link_text,
      link_url: section.settings.link_url
    -%}
  {%- endif -%}
{%- endcapture -%}

{%- if show_image -%}
  <style>
    #shopify-section-{{ section.id }} {
      {%- if section.settings.full_width -%}
        --section-outer-spacing-block: 0;
      {%- else -%}
        --section-spacing-block-end: 0;
      {%- endif -%}

      --content-over-media-overlay: {{ section.settings.overlay_color.rgb }} / {{ section.settings.overlay_opacity | divided_by: 100.0 }};

      {%- if section.settings.allow_transparent_header -%}
        margin-block-start: calc(-1 * var(--header-height) * var(--section-is-first));
      {%- endif -%}
    }
    #shopify-section-{{ section.id }} .section-blends {
      {% if section.settings.show_collection_image %}
        background-image: url('https://cdn.shopify.com/s/files/1/0496/2936/4391/files/gradient-bkgd_mobile.png?v=1725035039') !important;
      {% endif %}
    }

    {%- unless section.settings.full_width -%}
      .shopify-section:first-child .section[allow-transparent-header] {
        padding-block-start: max(var(--section-inner-max-spacing-block), var(--header-height));
      }
    {%- endunless -%}

    @media screen and (min-width: 700px) {
      #shopify-section-{{ section.id }} .section-blends {
        {% if section.settings.show_collection_image %}
          background-image: url("https://cdn.shopify.com/s/files/1/0496/2936/4391/files/gradient-bkgd-desktop.png?v=1725035114") !important;
          background-size: cover;
        {% endif %}
      }
    }
  </style>
  <div
    {% render 'section-properties' %}
    {%- if section.settings.allow_transparent_header -%}
      allow-transparent-header
    {% endif %}
  >
    <div class="collection-header">
      <div class="container">
        {{- collection_header -}}
      </div>
    </div>
  </div>
{%- else -%}
  <div
    {% render 'section-properties' %}
    {%- if section.settings.allow_transparent_header -%}
      allow-transparent-header
    {% endif %}
  >
    {%- if collection_header != blank -%}
      <div class="collection-header">
        <div class="container">
          {{- collection_header -}}
        </div>
      </div>
    {%- endif -%}
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Collection banner",
  "class": "shopify-section--collection-banner",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": false
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "checkbox",
      "id": "allow_transparent_header",
      "label": "Allow transparent header",
      "info": "This setting only applies when this section is the first one.",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_parallax",
      "label": "Enable parallax effect",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_collection_title",
      "label": "Show collection title",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "label": "Show collection description",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "label": "Show collection image",
      "info": "[Learn more](https://help.shopify.com/en/manual/products/collections/collection-layout#add-or-change-the-featured-image-for-a-collection) about adding or editing a collection image.",
      "default": true
    },
    {
      "type": "select",
      "id": "collection_title_size",
      "label": "Collection title size",
      "options": [
        {
          "value": "h0",
          "label": "XX-Large"
        },
        {
          "value": "h1",
          "label": "X-Large"
        },
        {
          "value": "h2",
          "label": "Large"
        },
        {
          "value": "h3",
          "label": "Medium"
        },
        {
          "value": "h4",
          "label": "Small"
        },
        {
          "value": "h5",
          "label": "X-Small"
        },
        {
          "value": "h6",
          "label": "XX-Small"
        }
      ],
      "default": "h0"
    },
    {
      "type": "select",
      "id": "image_size",
      "label": "Image size",
      "options": [
        {
          "value": "auto",
          "label": "Original image ratio"
        },
        {
          "value": "sm",
          "label": "Small"
        },
        {
          "value": "md",
          "label": "Medium"
        },
        {
          "value": "lg",
          "label": "Large"
        }
      ],
      "info": "Choose \"Original image ratio\" to avoid image cropping. [Learn more](https://help.shopify.com/en/manual/online-store/images/theme-images#best-practices-for-slideshows-and-full-widtw-images)",
      "default": "auto"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "3200 x 1600px .jpg recommended. Default to collection image."
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile image",
      "info": "1300 x 1500px .jpg recommended. Default to desktop image."
    },
    {
      "type": "select",
      "id": "mobile_text_position",
      "label": "Mobile content position",
      "options": [
        {
          "value": "place-self-start text-start",
          "label": "Top left"
        },
        {
          "value": "place-self-start-center text-center",
          "label": "Top center"
        },
        {
          "value": "place-self-start-end text-end",
          "label": "Top right"
        },
        {
          "value": "place-self-center-start text-start",
          "label": "Middle left"
        },
        {
          "value": "place-self-center text-center",
          "label": "Middle center"
        },
        {
          "value": "place-self-center-end text-end",
          "label": "Middle right"
        },
        {
          "value": "place-self-end-start text-start",
          "label": "Bottom left"
        },
        {
          "value": "place-self-end-center text-center",
          "label": "Bottom center"
        },
        {
          "value": "place-self-end text-end",
          "label": "Bottom right"
        }
      ],
      "default": "place-self-center text-center"
    },
    {
      "type": "select",
      "id": "desktop_text_position",
      "label": "Desktop content position",
      "options": [
        {
          "value": "sm:place-self-start sm:text-start",
          "label": "Top left"
        },
        {
          "value": "sm:place-self-start-center sm:text-center",
          "label": "Top center"
        },
        {
          "value": "sm:place-self-start-end sm:text-end",
          "label": "Top right"
        },
        {
          "value": "sm:place-self-center-start sm:text-start",
          "label": "Middle left"
        },
        {
          "value": "sm:place-self-center sm:text-center",
          "label": "Middle center"
        },
        {
          "value": "sm:place-self-center-end sm:text-end",
          "label": "Middle right"
        }
      ],
      "default": "sm:place-self-center sm:text-center"
    },
    {
      "type": "header",
      "content": "Featured product",
      "info": "This product won't show on small screens or collection that do not show image."
    },
    {
      "type": "product",
      "id": "featured_product",
      "label": "Product"
    },
    {
      "type": "text",
      "id": "featured_product_heading",
      "label": "Heading",
      "default": "Featured product"
    },
    {
      "type": "header",
      "content": "Colors",
      "info": "Ignored when no image is used."
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "Overlay opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 30
    }
  ]
}
{% endschema %}
