{%- render 'section-spacing-collapsing' -%}

{%- assign text_position = section.settings.text_position -%}

<style>
  #shopify-section-{{ section.id }} {
    --section-stack-intro: {% if text_position == 'center' %}60%{% else %}50%{% endif %};
    --section-stack-main: {% if text_position == 'center' %}60%{% else %}50%{% endif %};
  }
  #shopify-section-{{ section.id }} .section {
    padding: 32px 28px;
    background-image: url("https://cdn.shopify.com/s/files/1/0496/2936/4391/files/faq-mobile-bg.jpg?v=1723914144") !important;
  }
  .accordion-box {
    background: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;

  }
  .accordion  {
    background: #FFFFFF;
    padding: 10px 18px 10px 18px;
    border: none;
  }
  .accordion .accordion__toggle {
    font-family: var(--btn-font-family);
    font-size: 14px;
    line-height: 22px;
    padding: 0;
  }

  .accordion  .accordion__content {
    font-size: 12px;
    font-weight: 450;
    line-height:16.8px;
    padding-top: 20px;
  }

  #shopify-section-{{ section.id }} .section-stack__intro {
    text-align: center;
  }
  #shopify-section-{{ section.id }} .section-header .prose p  {
    text-align: center;
  }
  .section-stack__intro .prose p{
    font-weight: 700;
    line-height: 22px;
    font-size: 16px;
    font-family:  var(--btn-font-family);
    margin-top: 14px;
  }

  .group:hover .circle-chevron.group-hover\:colors:not([disabled]) {
    background: #FFFFFF;
  }
  #shopify-section-{{ section.id }} .section-header {
    margin: auto;
  }

  #shopify-section-{{ section.id }} .section-stack__intro {
    width: unset;
  }

  @media screen and (min-width: 700px) {
    #shopify-section-{{ section.id }} .section {
      padding: 80px 120px;
      background-image: url("https://cdn.shopify.com/s/files/1/0496/2936/4391/files/faq-desktop-bg.jpg?v=1723836641") !important;
    }
    #shopify-section-{{ section.id }} .section-stack {
      align-items: center;
    }
    #shopify-section-{{ section.id }} .section-stack .section-stack--horizontal {
      align-items: center;
    }
    .accordion  {
      padding: 20px 26px;
    }
    .accordion .accordion__toggle {
      font-family: var(--btn-font-family);
      font-size: 20px;
      line-height: 27px;
    }

    .accordion  .accordion__content {
      font-size: 16px;
      line-height: 22.5px;
    }
  }
  @media screen and (min-width: 1150px) {
    #shopify-section-{{ section.id }} .section-stack {
      gap: 0;
    }
    #shopify-section-{{ section.id }} .section-header {
      grid-template-columns: unset;
    }

    #shopify-section-{{ section.id }} .section-stack__intro {
      width: 42%;
    }
    #shopify-section-{{ section.id }} .section-stack__main {
      flex-grow: 1;
    }
    #shopify-section-{{ section.id }} .section-header .prose p  {
      text-align: left;
    }
    #shopify-section-{{ section.id }} .section-header {
      text-align: left;
    }
    #shopify-section-{{ section.id }} .section-header h2 {
      padding-right: 40px;
    }
  }
</style>

<div {% render 'section-properties' %}>
  <div class="section-stack {% if text_position != 'center' %}section-stack--horizontal{% else %}section-stack--center{% endif %} {% if text_position == 'end' %}section-stack--reverse{% endif %}">
    {%- capture subcontent -%}
      <div class="faq-availability">
        {%- if section.settings.team_avatar != blank or section.settings.support_hours != blank or section.settings.answer_time != blank -%}
          <div class="v-stack gap-4">
            {%- if section.settings.team_avatar != blank -%}
              {%- capture sizes -%}{{ section.settings.team_avatar_width }}px{%- endcapture -%}
              {%- capture widths -%}{{ section.settings.team_avatar_width }}, {{ section.settings.team_avatar_width | times: 2 | at_most: section.settings.team_avatar.width }}{%- endcapture -%}
              {%- capture style -%}max-width: {{ section.settings.team_avatar_width }}px{%- endcapture -%}
              {{- section.settings.team_avatar | image_url: width: section.settings.team_avatar.width | image_tag: style: style, sizes: sizes, widths: widths -}}
            {%- endif -%}

            {%- if section.settings.support_hours != blank or section.settings.answer_time != blank -%}
              <div class="v-stack">
                {{- section.settings.support_hours -}}

                {%- if section.settings.answer_time != blank -%}
                  <span class="text-subdued">{{ section.settings.answer_time }}</span>
                {%- endif -%}
              </div>
            {%- endif -%}
          </div>
        {%- endif -%}

        {%- if section.settings.button_text != blank -%}
          {% render 'button', content: section.settings.button_text, href: section.settings.button_url, size: 'xl', background: section.settings.button_background, text_color: section.settings.button_text_color %}
        {%- endif -%}
      </div>
    {%- endcapture -%}

    <div class="section-stack__intro">
      <div class="v-stack gap-10">
        {%- assign link_url = section.settings.link_url | default: section.settings.collection.url -%}
        {%- render 'section-header',
          subheading: section.settings.subheading,
          heading: section.settings.title,
          heading_color: section.settings.heading_color,
          heading_gradient: section.settings.heading_gradient,
          content: section.settings.content,
          link_text: section.settings.link_text,
          link_url: link_url
        -%}
      </div>
    </div>

    {%- if section.blocks.size > 0 -%}
      <div class="section-stack__main">
        <div
          {% render 'surface',
            class: 'accordion-box rounded',
            background: section.settings.accordion_background,
            text_color: section.settings.accordion_text_color,
            background_fallback: 'bg-secondary'
          %}
        >
          {%- for block in section.blocks -%}
            {%- if block.settings.title != blank and block.settings.content != blank -%}
              {%- capture accordion_content -%}
                <div class="prose">{{ block.settings.content }}</div>
              {%- endcapture -%}

              {%- render 'accordion',
                open: block.settings.is_open,
                title: block.settings.title,
                content: accordion_content,
                block: block
              -%}
            {%- endif -%}
          {%- endfor -%}
        </div>
      </div>
    {%- endif -%}

    <div
      {% if text_position != 'center' %}
        class="lg:hidden"
      {% endif %}
    >
      {{- subcontent -}}
    </div>
  </div>
</div>

{%- comment -%}On the FAQ page, we also output the content with JSON microdata for SEO{%- endcomment -%}

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
      {%- for block in section.blocks -%}
        {
          "@type": "Question",
          "name": {{ block.settings.title | json }},
          "acceptedAnswer": {
            "@type": "Answer",
            "text": {{ block.settings.content | json }}
          }
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>

{% schema %}
{
  "name": "FAQ",
  "class": "shopify-section--faq",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "custom.overlay"]
  },
  "blocks": [
    {
      "name": "Item",
      "type": "item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Question",
          "default": "Question"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Answer",
          "default": "<p>Write content to answer to common questions your customers may have about your products, shipping policies..</p>"
        },
        {
          "type": "checkbox",
          "id": "is_open",
          "label": "Open by default",
          "default": false
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "paragraph",
      "content": "Structured data is automatically created on FAQ page to improve SEO. [Learn more](https://developers.google.com/search/docs/advanced/structured-data/faqpage)"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "FAQ"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content",
      "default": "<p>Use this text to share information about your product or shipping policies.</p>"
    },
    {
      "type": "image_picker",
      "id": "team_avatar",
      "label": "Team avatar",
      "info": "700 x 160px .jpg recommended"
    },
    {
      "type": "range",
      "id": "team_avatar_width",
      "min": 50,
      "max": 350,
      "step": 10,
      "unit": "px",
      "label": "Team avatar width",
      "default": 160
    },
    {
      "type": "text",
      "id": "support_hours",
      "label": "Support operating hours",
      "default": "Our customer support is available Monday to Friday: 8am-8:30pm."
    },
    {
      "type": "text",
      "id": "answer_time",
      "label": "Average answer time",
      "default": "Average answer time: 24h"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button link"
    },
    {
      "type": "select",
      "id": "text_position",
      "label": "Text position",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "Colors",
      "info": "Gradient replaces solid colors when set."
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading color"
    },
    {
      "type": "color_background",
      "id": "heading_gradient",
      "label": "Heading gradient"
    },
    {
      "type": "color",
      "id": "button_background",
      "label": "Button background"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button text"
    },
    {
      "type": "color",
      "id": "accordion_background",
      "label": "Accordion background"
    },
    {
      "type": "color",
      "id": "accordion_text_color",
      "label": "Accordion text"
    }
  ],
  "presets": [
    {
      "name": "FAQ",
      "blocks": [
        {
          "type": "item",
          "settings": {
            "title": "Do you ship overseas?",
            "content": "<p>Yes, we ship all over the world. Shipping costs will apply, and will be added at checkout. We run discounts and promotions all year, so stay tuned for exclusive deals.</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "title": "How long will it take to get my orders?",
            "content": "<p>It depends on where you are. Orders processed here will take 5-7 business days to arrive. Overseas deliveries can take anywhere from 7-16 days. Delivery details will be provided in your confirmation email.</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "title": "Any question?",
            "content": "<p>You can contact us through our contact page! We will be happy to assist you.</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
