{%- unless section.settings.full_width -%}
  {%- render 'section-spacing-collapsing' -%}
{%- endunless -%}

<style>
  #shopify-section-{{ section.id }} {
    {%- if section.settings.full_width -%}
      --section-outer-spacing-block: 0;
    {%- endif -%}
    --content-over-media-overlay: {{ section.settings.overlay_color.rgb }} / {{ section.settings.overlay_opacity | divided_by: 100.0 }};

    {%- if section.settings.allow_transparent_header -%}
      margin-block-start: calc(-1 * var(--header-height) * var(--section-is-first));
    {%- endif -%}
  }

  /* overlay with images */
  .overlay-heading-text {
    font-family: var(--heading-font-family);
    font-weight: 400;
    font-size: 28px;
    line-height: 32.7px;
    display: inline-block;
  }

  /* Overlay-image */
  .overlay-subheading-text {
    font-family: var(--btn-font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-block-start: 14px !important;
  }

  .overlay-heading-text p {
    margin-block-start: 0;
  }

  #shopify-section-{{ section.id }} .overlay-paragraph {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 8px;
    padding: 0 4.5px;
  }

  .overlay-paragraph p {
    margin-block-start: 0px;
    font-family: var(--text-font-family);
    font-weight: 450;
    font-size: 15px;
    line-height: 19.23px;
  }

  .overlay-paragraph svg {
    width: 24px;
    height: 25px;
  }

  .overlay-heading-shadow {
    position: absolute;
    width: 100%;
    height: 15px;
    background-color: #ffc9d0;
    z-index: -1;
    bottom: 5px;
  }

  .gradient-top-product-bk {
    width: 900px !important;
    /* height: 635px!important; */
    /* position: absolute!important; */
    display: none;
    right: 0;
    top: 0;
  }

  .gradient-top-product-bk-mobile {
    width: 700px;
    bottom: 0;
  }

  .shopify-section--image-with-text-overlay .content-over-media--auto {
    height: 746px;
  }

  .overlay-prose>.overlay-paragraph {
    margin-block-start: 14px;
  }

  .overlay-prose>.overlay-paragraph~.overlay-paragraph {
    margin-block-start: 8px;
  }


  .overlay-goshop-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    margin-block-start: 14px !important;
    align-items: center;
  }

  .overlay-reviewer-content {
    width: 247px;
    margin-block-start: 0 !important;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .overlay-reviewer-content p {
    text-align: left;
    margin-block-start: 0px;
    font-family: var(--text-font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 16.8px;
  }

  .overlay-reviewer-content p span {
    margin-block-start: 0px;
    font-family: var(--text-font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 16.8px;
  }

  .overlay-reviewer-content p:nth-of-type(2) {
    margin-block-start: 0px;
    font-family: var(--text-font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 15.38px;
  }

  .overlay-reviewer-container {
    display: flex;
    height: 52px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-block-start: 14px !important;
  }

  .overlay-goshop-right p:nth-of-type(2) {
    margin-block-start: 0px;
    font-family: var(--text-font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 15.38px;
  }

  .overlay-goshop-right p:nth-of-type(2) span {
    font-family: var(--text-font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 15.38px;
  }

  .overlay-goshop-right {
    display: flex;
    flex-direction: row;
    margin-block-start: 0px !important;
    align-items: center;
    gap: 8px;
  }

  .overlay-reviewer-avatar {
    width: 51px;
    height: 51px;
  }

  #shopify-section-{{ section.id }} .overlay-goshop-right p:nth-of-type(1) {
    display: none;
  }

  #shopify-section-{{ section.id }} .overlay-goshop-right p:nth-of-type(2) {
    display: block;
  }
  .overlay-subheading-text {
    width: auto;
  }
  @media screen and (min-width:350px) {
  }

  .overlay-prose {
    display: inline-block;
    padding: 22px 28px 14px 28px;
  }

  .overlay-heading-text-container {
    position: relative;
  }

  #overlay-heading-text-container {
    margin: auto;
  }

  .overlay-goshop-btn {
    width: 276px;
    height: 60px;
    /* background-color: rgb(var(--button-background)); */
    background-color: #FCD817;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    font-size: 16px;
    gap: 12px;
  }

  .overlay-goshop-btn a {
    font-family: var(--btn-font-family);
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    padding: 16px 56px;
    color: #000;
    background: unset !important;
    display: flex;
    gap: 12px;
    align-items: center
  }

  .overlay-prose button {
    display: none;
  }

  #shopify-section-{{ section.id }} .section{
    padding: 0;
  }

  .prose p{
    color:black;
  }
  @media screen and (min-width:700px) {
    .overlay-subheading-text {
      width: 560px;
    }
    .overlay-goshop-btn a {
      font-size: 20px;
      padding: 25px 56px;
    }
    .overlay-heading-text {
        font-size: 46px;
        line-height: 53.7px;
        display: inline-block;
    }
    .overlay-paragraph p {
        margin-block-start: 0px;
        font-family: var(--text-font-family);
        font-weight: 450;
        font-size: 18px;
        line-height: 23.08px;
    }

    .overlay-subheading-text {
        font-family: var(--btn-font-family);
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        margin-block-start: 26px !important;
    }

    .announcement-bar__wrapper p {
        font-size: 16px;
        font-family: var(--text-font-family);
        font-weight: 500;
        line-height: 20.51px;
        text-align: center;
    }

    .overlay-heading-text {
        font-family: var(--heading-font-family);
        font-weight: 400;
        font-size: 46px;
        line-height: 53.73px;
        display: inline-block;
    }

    .overlay-heading-shadow {
        position: absolute;
        width: 100%;
        height: 25px;
        background-color: #ffc9d0;
        z-index: -1;
        bottom: 5px;
    }

    .overlay-prose {
        display: inline-block;
        position: relative;
        padding: 56.5px 0 !important;
        margin-left: 123px;
    }

    .gradient-top-product-bk {
        width: 900px !important;
        height: 635px !important;
        position: absolute !important;
        display: block;
        right: 0;
        top: 0;
    }

    .gradient-top-product-bk-mobile {
        display: none;
    }

    .shopify-section--image-with-text-overlay .content-over-media--auto {
        height: 600px;
    }

    .overlay-prose>.overlay-paragraph {
        margin-block-start: 26px;
        padding: 0;
    }

    .overlay-prose>.overlay-paragraph~.overlay-paragraph {
        margin-block-start: 10px;
    }

    .overlay-paragraph {
        gap: 10px
    }

    .overlay-goshop-btn-container {
        display: flex;
        flex-direction: row;
        justify-content: unset;
        align-items: center;
        column-gap: 12px;
        margin-block-start: 26px !important;
        align-items: center;
    }

    .overlay-reviewer-content {
        width: 336px;
    }

    .overlay-reviewer-content p {
        margin-block-start: 0px;
        font-family: var(--text-font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 22.4px;
    }

    .overlay-reviewer-content p span {
        margin-block-start: 0px;
        font-family: var(--text-font-family);
        font-weight: 600;
        font-size: 16px;
        line-height: 22.4px;
    }

    .overlay-reviewer-content p:nth-of-type(2) {
        margin-block-start: 0px;
        font-family: var(--text-font-family);
        font-weight: 600;
        font-size: 12px;
        line-height: 15.38px;
    }

    .overlay-reviewer-container {
        display: flex;
        width: 432px;
        height: 80px;
        justify-content: space-between;
        align-items: center;
        margin-block-start: 26px !important;
    }

    .overlay-goshop-right p:nth-of-type(1) {
        margin-block-start: 0px;
        font-family: var(--text-font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 17.95px;
    }

    .overlay-goshop-right p:nth-of-type(1) span {
        font-family: var(--text-font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 17.95px;
    }

    #shopify-section-{{ section.id }} .overlay-goshop-right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }

    .overlay-reviewer-avatar {
        width: 80px;
        height: 80px;
    }

    .overlay-goshop-right p:nth-of-type(1) {
        display: block;
    }

    .overlay-goshop-right p:nth-of-type(2) {
        display: none;
    }
  }
</style>

<div
  {% render 'section-properties' %}
  {% if section.settings.allow_transparent_header %}
    allow-transparent-header
  {% endif %}
>
  {%- capture class -%}content-over-media content-over-media--{{ section.settings.image_size }} {% if section.settings.full_width %}full-bleed{% else %}shadow-block rounded-lg{% endif %}{%- endcapture -%}

  <image-banner
    reveal-on-scroll="true"
    {% if section.settings.enable_parallax %}
      parallax="0.3"
    {% endif %}
    {% render 'surface', class: class, text_color: section.settings.text_color %}
  >
    {%- if section.settings.image != blank -%}
      {%- capture sizes -%}{% if section.settings.full_width %}100vw{% else %}(max-width: 740px) calc(100vw - 40px), (max-width: 999px) calc(100vw - 64px), min({{ settings.page_width }}px, 100vw - 96px){% endif %}{%- endcapture -%}

      <picture>
        {%- if section.settings.mobile_image != blank -%}
          <source
            media="(max-width: 699px)"
            srcset="{{ section.settings.mobile_image | image_url: width: '400x' }} 400w, {{ section.settings.mobile_image | image_url: width: '600x' }} 600w, {{ section.settings.mobile_image | image_url: width: '800x' }} 800w, {{ section.settings.mobile_image | image_url: width: '1000x' }} 1000w, {{ section.settings.mobile_image | image_url: width: '1200x' }} 1200w"
            width="{{ section.settings.mobile_image.width }}"
            height="{{ section.settings.mobile_image.height }}"
          >
        {%- endif -%}

        {{-
          section.settings.image
          | image_url: width: section.settings.image.width
          | image_tag:
            sizes: sizes,
            widths: '200,300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200'
        -}}
      </picture>
    {%- else -%}
      {{
        'lifestyle-1'
        | placeholder_svg_tag: 'placeholder'
        | replace: '<svg', '<svg preserveAspectRatio="xMinYMin slice"'
      }}
    {%- endif -%}

    {%- if section.blocks.size > 0 -%}
      <div style="width:100%;max-width:100%; grid-area: 1 / 1 /  span3/ span3;position:absolute;top:0;">
        <div class="{{ section.settings.mobile_text_position }} {{ section.settings.desktop_text_position }}">
          <div class="prose overlay-prose">
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when 'subheading' -%}
                  {%- if block.settings.text != blank -%}
                    {%- assign lines = block.settings.text | split: '\n' -%}
                    {% if settings.subheading_apparition != 'none' %}
                      <p
                        class="overlay-subheading-text {{ block.settings.heading_tag }}"
                        reveal-on-scroll="true"
                        {{ block.shopify_attributes }}
                      >
                        {% for line in lines %}
                          {{ line | strip_html | escape }}
                          {% unless forloop.last %}<br>{% endunless %}
                        {% endfor %}
                      </p>
                    {% else %}
                      <p
                        class="overlay-subheading-text {{ block.settings.heading_tag }}"
                        {{ block.shopify_attributes }}
                      >
                        {% for line in lines %}
                          {{ line | strip_html | escape }}
                          {% unless forloop.last %}<br>{% endunless %}
                        {% endfor %}
                      </p>
                    {% endif %}
                  {%- endif -%}

                {%- when 'heading' -%}
                  {%- if block.settings.text != blank -%}
                    <div class="overlay-heading-text-container" id="overlay-heading-text-container">
                      {%- assign lines = block.settings.text | split: '\n' -%}
                      {% if settings.heading_apparition != 'none' %}
                        <div style="display:inline-block; position:relative;" reveal-on-scroll="true">
                          <p
                            class="overlay-heading-text {{ block.settings.heading_tag }}"
                            reveal-on-scroll="true"
                            {{ block.shopify_attributes }}
                          >
                            {% for line in lines %}
                              {{ line | strip_html | escape }}
                              {% unless forloop.last %}<br>{% endunless %}
                            {% endfor %}
                          </p>
                          <div class="overlay-heading-shadow"></div>
                        </div>

                      {% else %}
                        <p
                          class="overlay-heading-text overlay-heading-shadow {{ block.settings.heading_tag }}"
                          {{ block.shopify_attributes }}
                        >
                          {% for line in lines %}
                            {{ line | strip_html | escape }}
                            {% unless forloop.last %}<br>{% endunless %}
                          {% endfor %}
                        </p>
                        <div class="overlay-heading-shadow"></div>
                      {% endif %}
                    </div>
                  {%- endif -%}

                {%- when 'richtext' -%}
                  {%- if block.settings.content != blank -%}
                    <div class="overlay-paragraph" {{ block.shopify_attributes }}>
                      {%- render 'image-overlay-paragraph-checkicon' -%}
                      {{- block.settings.content -}}
                    </div>
                  {%- endif -%}
                  {% comment %}
                    {%- when 'richtext_1' -%}
                    {%- if block.settings.custom_content != blank -%}
                      <div class="overlay-paragraph" {{ block.shopify_attributes }} style="padding-top: {{ block.settings.custom_content_padding }}px">
                        {%-render 'image-overlay-paragraph-checkicon'  -%}
                        {{- block.settings.custom_content -}}
                      </div>
                    {%- endif -%}
                  {% endcomment %}

                {%- when 'liquid' -%}
                  {%- if block.settings.liquid != blank -%}
                    <div {{ block.shopify_attributes }}>
                      {{- block.settings.liquid -}}
                    </div>
                  {%- endif -%}

                {%- when 'button' -%}
                  <div class="overlay-goshop-btn-container">
                    {%- if block.settings.text != blank -%}
                      <div class="overlay-goshop-btn">
                        <a href="{{block.settings.url}}">
                          {{- block.settings.text }}
                          {%- render 'overlay-shopnow-btn-arrowicon' -%}
                        </a>
                      </div>
                      {% comment %}
                        {% render 'button',
                          content: block.settings.text,
                          href: block.settings.url,
                          size: block.settings.size,
                          style: block.settings.style,
                          background: block.settings.background,
                          text_color: block.settings.text_color,
                          block: block
                        %}
                      {% endcomment %}
                    {%- endif -%}
                    <div class="overlay-goshop-right">
                      <div class="overlay-goshop-reviewstar-container">
                        {%- render 'review-star' -%}
                        {%- render 'review-star' -%}
                        {%- render 'review-star' -%}
                        {%- render 'review-star' -%}
                        {%- render 'review-star' -%}
                      </div>
                      <p>Based on <span>785</span> Reviews</p>
                      <p>Loved by <span>785</span> Happy Customers</p>
                    </div>
                  </div>
                {%- when 'reviewer' -%}
                  <div class="overlay-reviewer-container">
                    {%- if block.settings.image_for_reviewer != blank -%}
                      {% comment %}
                        <img
                          class="overlay-reviewer-avatar"
                          width="100%"
                          height="100%"
                          src="{{ block.settings.image_for_reviewer }}"
                          alt="Description of the image"
                        >
                      {% endcomment %}
                      {{-
                        block.settings.image_for_reviewer
                        | image_url: width: '100%'
                        | image_tag: loading: 'lazy', class: 'overlay-reviewer-avatar'
                      -}}
                    {% endif %}
                    <div class="overlay-reviewer-content">
                      {%- if block.settings.review_content != blank -%}
                        <p>
                          “{{ block.settings.review_content }}
                          {%- if block.settings.review_content != blank -%}
                            <span>{{ block.settings.review_text }}</span>”
                          {%- endif -%}
                        </p>
                      {% endif %}

                      {%- if block.settings.reviewer_name != blank -%}
                        <p>{{ block.settings.reviewer_name }}</p>
                      {% endif %}
                    </div>
                  </div>
              {%- endcase -%}
            {%- endfor -%}
          </div>
        </div>
        {% if section.settings.image_for_content != blank %}
          <img
            style="z-index:-5"
            class="gradient-top-product-bk"
            width="900px"
            height="635px"
            src="https://cdn.shopify.com/s/files/1/0496/2936/4391/files/gradient-top-product-bk.png?v=1723023885"
            alt="Description of the image"
          >
        {% endif %}
        {% if section.settings.image_for_content_mobile != blank %}
          <img
            style="z-index:-5"
            class="gradient-top-product-bk-mobile"
            width="492px"
            height="347px"
            src="https://cdn.shopify.com/s/files/1/0496/2936/4391/files/gradient-top-product-bk-mobile.png?v=1723269536"
            alt="Description of the image"
          >
        {% endif %}
      </div>
    {%- endif -%}
  </image-banner>
</div>

{% schema %}
{
  "name": "Image with text overlay",
  "class": "shopify-section--image-with-text-overlay",
  "tag": "section",
  "disabled_on": {
    "templates": ["password"],
    "groups": ["header", "custom.overlay"]
  },
  "max_blocks": 8,
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "allow_transparent_header",
      "label": "Allow transparent header",
      "info": "This setting only applies when this section is the first one.",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_parallax",
      "label": "Enable parallax effect",
      "info": "Parallax crops images.",
      "default": false
    },
    {
      "type": "select",
      "id": "image_size",
      "label": "Image size",
      "options": [
        {
          "value": "auto",
          "label": "Original image ratio"
        },
        {
          "value": "sm",
          "label": "Small"
        },
        {
          "value": "md",
          "label": "Medium"
        },
        {
          "value": "lg",
          "label": "Large"
        },
        {
          "value": "fill",
          "label": "Fill screen"
        }
      ],
      "info": "Choose \"Original image ratio\" to avoid image cropping. [Learn more](https://help.shopify.com/en/manual/online-store/images/theme-images#best-practices-for-slideshows-and-full-widtw-images)",
      "default": "auto"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image for gradient",
      "info": "3200 x 1600px .jpg recommended"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile image",
      "info": "1300 x 1500px .jpg recommended. Default to desktop image."
    },
    {
      "type": "image_picker",
      "id": "image_for_content",
      "label": "Image for content",
      "info": "3200 x 1600px .jpg recommended"
    },
    {
      "type": "image_picker",
      "id": "image_for_content_mobile",
      "label": "Image for mobile content",
      "info": "1300 x 1500px .jpg recommended"
    },
    {
      "type": "select",
      "id": "mobile_text_position",
      "label": "Mobile content position",
      "options": [
        {
          "value": "place-self-start text-start",
          "label": "Top left"
        },
        {
          "value": "place-self-start-center text-center",
          "label": "Top center"
        },
        {
          "value": "place-self-start-end text-end",
          "label": "Top right"
        },
        {
          "value": "place-self-center-start text-start",
          "label": "Middle left"
        },
        {
          "value": "place-self-center text-center",
          "label": "Middle center"
        },
        {
          "value": "place-self-center-end text-end",
          "label": "Middle right"
        },
        {
          "value": "place-self-end-start text-start",
          "label": "Bottom left"
        },
        {
          "value": "place-self-end-center text-center",
          "label": "Bottom center"
        },
        {
          "value": "place-self-end text-end",
          "label": "Bottom right"
        }
      ],
      "default": "place-self-center text-center"
    },
    {
      "type": "select",
      "id": "desktop_text_position",
      "label": "Desktop content position",
      "options": [
        {
          "value": "sm:place-self-start sm:text-start",
          "label": "Top left"
        },
        {
          "value": "sm:place-self-start-center sm:text-center",
          "label": "Top center"
        },
        {
          "value": "sm:place-self-start-end sm:text-end",
          "label": "Top right"
        },
        {
          "value": "sm:place-self-center-start sm:text-start",
          "label": "Middle left"
        },
        {
          "value": "sm:place-self-center sm:text-center",
          "label": "Middle center"
        },
        {
          "value": "sm:place-self-center-end sm:text-end",
          "label": "Middle right"
        },
        {
          "value": "sm:place-self-end-start sm:text-start",
          "label": "Bottom left"
        },
        {
          "value": "sm:place-self-end-center sm:text-center",
          "label": "Bottom center"
        },
        {
          "value": "sm:place-self-end sm:text-end",
          "label": "Bottom right"
        }
      ],
      "default": "sm:place-self-center sm:text-center"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "Overlay opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 30
    }
  ],
  "blocks": [
    {
      "type": "subheading",
      "name": "Subheading",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Subheading"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Heading"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "label": "Style",
          "options": [
            {
              "value": "h0",
              "label": "XX-Large"
            },
            {
              "value": "h1",
              "label": "X-Large"
            },
            {
              "value": "h2",
              "label": "Large"
            },
            {
              "value": "h3",
              "label": "Medium"
            },
            {
              "value": "h4",
              "label": "Small"
            },
            {
              "value": "h5",
              "label": "X-Small"
            },
            {
              "value": "h6",
              "label": "XX-Small"
            }
          ],
          "default": "h1"
        }
      ]
    },
    {
      "name": "Paragraph",
      "type": "richtext",
      "settings": [
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        }
      ]
    },
    //    {
    //      "name": "Custom Paragraph",
    //      "type": "richtext_1",
    //      "settings": [
    //        {
    //          "type": "richtext",
    //          "id": "custom_content",
    //          "label": "Content",
    //          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
    //        },
    //        {
    //          "type": "range",
    //          "id": "custom_content_padding",
    //          "default": 5,
    //          "min": 0,
    //          "max": 30,
    //          "unit": "px",
    //          "label": "Custom Content Padding"
    //        }
    //      ]
    //    },
    {
      "name": "Liquid",
      "type": "liquid",
      "settings": [
        {
          "type": "liquid",
          "id": "liquid",
          "label": "Liquid",
          "default": "<p>Use this text to output some custom Liquid code to include widget or dynamic code.</p>"
        }
      ]
    },
    {
      "name": "Button",
      "type": "button",
      "settings": [
        {
          "type": "select",
          "id": "style",
          "label": "Style",
          "options": [
            {
              "value": "outline",
              "label": "Outline"
            },
            {
              "value": "fill",
              "label": "Fill"
            }
          ],
          "default": "fill"
        },
        {
          "type": "select",
          "id": "size",
          "label": "Size",
          "options": [
            {
              "value": "sm",
              "label": "Small"
            },
            {
              "value": "base",
              "label": "Medium"
            },
            {
              "value": "lg",
              "label": "Large"
            },
            {
              "value": "xl",
              "label": "X-Large"
            }
          ],
          "default": "lg"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Button text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link"
        },
        {
          "type": "color",
          "id": "background",
          "label": "Background"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text"
        }
      ]
    },
    {
      "name": "Reviewer",
      "type": "reviewer",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_for_reviewer",
          "label": "Image for reviewer",
          "info": "1247 x 1247px .png recommended"
        },
        {
          "type": "textarea",
          "id": "review_content",
          "label": "Review content",
          "default": "Love it! Makes me feel clean. Easy to care for"
        },
        {
          "type": "textarea",
          "id": "review_text",
          "label": "Review Text",
          "default": "Love this product!"
        },
        {
          "type": "text",
          "id": "reviewer_name",
          "label": "reviewer name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with text overlay",
      "blocks": [
        {
          "type": "subheading",
          "settings": {
            "text": "Subheading"
          }
        },
        {
          "type": "heading",
          "settings": {
            "text": "Image with text overlay",
            "heading_tag": "h1"
          }
        },
        {
          "type": "richtext"
        }
      ]
    }
  ]
}
{% endschema %}
