{%- render 'section-spacing-collapsing' -%}

<style>
  #shopify-section-{{ section.id }} {
    --product-grid: auto / minmax(0, 1fr);
    --product-gallery-media-list-grid: auto / auto-flow {% if section.settings.mobile_carousel_control == 'free_scroll' %}{% if section.settings.mobile_media_size == 'expanded' %}84vw{% else %}73vw{% endif %}{% else %}100%{% endif %};
    --product-gallery-media-list-gap: {% if section.settings.mobile_media_size == 'expanded' %}var(--spacing-0-5){% else %}var(--grid-gutter){% endif %};
  }

  #shopify-section-{{ section.id }} .section {
    padding: 0 28px 28px 28px;
  }
  #shopify-section-{{ section.id }} .section-blends {
    background: #FFFFFF !important;
  }

  #shopify-section-{{ section.id }} .product {
    gap: 12px;
  }
  #shopify-section-{{ section.id }} .product-info {
    padding-top: 20px;
  }
  .product-gallery__media img {
    border-radius: 0;
  }
  .overlay-paragraph {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 3px;
  }
  .product-gallery__media-list-wrapper .circle-button {
    position: absolute;
    top: 50%;
    z-index: 999;
  }
  .product-gallery__media-list-wrapper .prev-button {
    left: -11px !important;
  }
  .product-gallery__media-list-wrapper .next-button {
    right: -11px !important;
  }
  .product-gallery__thumbnail-list {
    grid-auto-columns: 17.5%;
  }
  .product-gallery__thumbnail-list button img{
    border-radius: 0;
  }

  .page-dots.page-dots--blurred {
    display: none;
  }

  .product-info__block-item {
    margin: 18px 0 0 0;
  }
  .product-info__title {
    font-size: 35px;
    font-weight: 400;
    line-height: 41px;
    text-transform: uppercase;
  }
  .product-info__block-item[data-block-type="subtitle"] {
    margin-top: 7px;
  }

  .product-info__block-item[data-block-type="subtitle"] .subtitle {
    font-family: var(--btn-font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 17.5px;
  }
  .product-info__block-item[data-block-type="@app"] .subtitle {
    margin-top: 7px;
  }
  .product-info__block-item[data-block-type="@app"] {
    margin-bottom: 18px;
  }

  .product-info__block-item[data-block-type="richtext"] {
    margin: 8px 0 0 0;
  }
  {% comment %} .product-info__block-item[data-block-type="variant-picker"] {
    margin: 10px 0;
  } {% endcomment %}

  .variant-picker__option {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .variant-picker__option-info .text-subdued {
    font-family: var(--btn-font-family);
    font-weight: 700;
    font-size: 17px;
    line-height: 28px;
    text-transform: uppercase;
  }
  .variant-picker__option-values {
    gap: 14px;
  }
  .color-swatch {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0;
  }
  .color-swatch:before {
    content:url('https://cdn.shopify.com/s/files/1/0496/2936/4391/files/check-mark.svg?v=1724226774');
    box-shadow: none;
    border-radius: 0;
    inset: unset;
    line-height: 0px;
  }
  .variant-picker__option-info {
    margin-bottom: 12px;
  }
  .buy-item.product-info__price  { grid-area: price; }
  .buy-item.product-info__quantity-selector   { grid-area: quantity; }
  .buy-item.product-info__buy-buttons  { grid-area: button; }
  .buy-item.product__payment-icons  { grid-area: icons; }

  .product-info__block-item[data-block-type="buy-buttons"] {
    display: grid;
    grid-template-areas:
    'price quantity'
    'button button'
    'icons icons';
    row-gap: 18px;
    column-gap: 19px;
  }
  .product-info__price {
    margin: auto 0;
  }
  .product-info__quantity-selector {
    margin: auto 0 auto auto;
  }
  .quantity-selector {
    background: #F0F0F0;
    width: 130px;
    height: 50px;
  }
  .quantity-selector input{
    font-family: var(--btn-font-family);
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }
  .quantity-selector .quantity-selector__button svg{
    color: #AFAFAF;
  }
  .product-info__price .price-list .text-lg{
    font-size: 26px !important;
    font-weight: 500;
    line-height: 33.33px !important;
  }
  .product-info__buy-buttons button {
    font-family: var(--btn-font-family);
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .product-info__buy-buttons button {
    line-height: 19.6px;
  }
  .product__payment-icons .wrap {
    gap: 4.79px;
    line-height: 0;
  }
  .product__payment-icons .wrap svg{
    width: 24.5px;
    height: 15.5px;
  }
  .product__payment-icons .payment-icon-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }
  .product-info__block-item .product__payment-icons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: flex-start;
    align-items: center;
  }
  .accordion .accordion__toggle {
    font-family: var(--btn-font-family);
    font-size: 17px;
    font-weight: 700;
    line-height: 28px;
    color: #000000;
    padding: 12px 0;
    text-transform: uppercase;
  }

  .accordion  .accordion__content {
    font-size: 16px;
    font-weight: 400;
    line-height:26px;
  }
  .product-info__block-group.accordion-group .product-info__block-item {
    margin: 0;
  }
  .group:hover .circle-chevron.group-hover\:colors:not([disabled]) {
    background: inherit;
  }
  .product-info__block-item[data-block-type="reviewer"] {
    margin-top: 24px;
  }
  .overlay-reviewer-container {
    display: flex;
    height: 52px;
    align-items: center;
    justify-content: left;
    gap: 8px;
  }
  .overlay-reviewer-avatar {
    width: 51px;
    height: 51px;
  }
  .overlay-reviewer-content {
    width: 247px;
    margin-block-start: 0 !important;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .overlay-reviewer-content p {
    text-align: left;
    margin-block-start: 0px;
    font-family: var(--text-font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 16.8px;
  }

  .overlay-reviewer-content p span {
    margin-block-start: 0px;
    font-family: var(--text-font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 16.8px;
  }

  .overlay-reviewer-content p:nth-of-type(2) {
    margin-block-start: 0px;
    font-family: var(--text-font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 15.38px;
  }
  @media screen and (max-width: 999px) {
    #shopify-section-{{ section.id }} {
      --section-spacing-block-start: {% if section.settings.mobile_media_size == 'expanded' %}0px{% else %}var(--container-gutter){% endif %};
    }
    .product-gallery__zoom {
      right: 28px;
    }
  }

  @media screen and (min-width: 1000px) {
    #shopify-section-{{ section.id }} {
      {%- assign media_ratio = section.settings.desktop_media_width | divided_by: 50.0 -%}
      --product-grid: auto / minmax(0, {{ media_ratio }}fr) minmax(0, {{ 2.0 | minus: media_ratio }}fr);
      --product-gallery-media-list-grid: {% if section.settings.desktop_media_layout contains 'grid' %}auto-flow dense / repeat(2, minmax(0, 1fr)){% else %}auto / auto-flow 100%{% endif %};
      --product-gallery-media-list-gap: calc(var(--grid-gutter) / 2);
    }
    #shopify-section-{{ section.id }} .section {
      padding: 22px 50px 50px 50px;
    }
    #shopify-section-{{ section.id }} .section-blends {
      background: #F7F7F7 !important;
    }
    .product-gallery__media-list-wrapper .circle-button:after {
      width: 48px;
      height: 48px;
    }
    .product-gallery__media-list-wrapper .prev-button {
      left: -22px !important;
    }
    .product-gallery__media-list-wrapper .next-button {
      right: -22px !important;
    }
    #shopify-section-{{ section.id }} .product {
      grid-template-columns: 1fr 1fr; /* Two equal columns */
    }
    .product-info__title {
      font-size: 55px;
      font-weight: 400;
      line-height: 64px;
    }
    .product-info__block-item[data-block-type="subtitle"] .subtitle {
      font-size: 28px;
      line-height: 27.5px;
    }
    {% comment %} payment button {% endcomment %}
    .product-info__quantity-selector {
      margin: auto auto auto 0;
    }
    .buy-buttons {
      width: 324px;
    }
    .product__payment-icons {
      flex-direction: row;
      gap: 20.5px;
    }
    .quantity-selector{
      height: 60px;
      width: auto;
    }
    .overlay-paragraph p{
      font-size: 20px;
      line-height: 30px;
      font-weight: 450;
      margin-bottom: 0 !important;
    }
    .product-info {
      padding-left: 30px;
      padding-top: 0;
    }
    .variant-picker__option {
      flex-direction: row;
      align-items: center;
      gap: 54px;
    }
    .variant-picker__option-info {
      margin-bottom: 0;
    }

    {%- if section.settings.desktop_media_layout == 'grid_highlight' -%}
      #shopify-section-{{ section.id }} .product-gallery__media-list > :not([hidden]) {
        grid-column: span 2;
      }

      #shopify-section-{{ section.id }} .product-gallery__media-list > :not([hidden]) ~ *:not(.product-gallery__media--expand) {
        grid-column: span 1;
      }
    {%- endif -%}

    .product-info__block-item[data-block-type="buy-buttons"] {
      grid-template-areas:
      'price price '
      'quantity button'
      'icons icons';
    }
    .overlay-reviewer-container {
      display: flex;
      width: 432px;
      height: 80px;
      justify-content: space-between;
      align-items: center;
      margin-block-start: 26px !important;
    }
    .product-info__block-item .product__payment-icons {
      flex-direction: row;
    }

    .overlay-reviewer-content {
      width: 336px;
    }
    .overlay-reviewer-avatar {
      width: 80px;
      height: 80px;
    }
    .overlay-reviewer-content p {
        margin-block-start: 0px;
        font-family: var(--text-font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 22.4px;
    }

    .overlay-reviewer-content p span {
        margin-block-start: 0px;
        font-family: var(--text-font-family);
        font-weight: 600;
        font-size: 16px;
        line-height: 22.4px;
    }

    .overlay-reviewer-content p:nth-of-type(2) {
        margin-block-start: 0px;
        font-family: var(--text-font-family);
        font-weight: 600;
        font-size: 12px;
        line-height: 15.38px;
    }

    body {
      background: none;
    }
    #shopify-section-{{ section.id }} .next-button:after,
    #shopify-section-{{ section.id }} .prev-button:after {
      width: 47px;
      height: 47px;
    }
  }
  @media screen and (min-width: 1100px) {
    #shopify-section-{{ section.id }} .section {
      padding: 22px 60px 60px 60px;
    }
    .product-gallery__thumbnail-list {
      grid-auto-columns: 17.7%;
    }
  }
  @media screen and (min-width: 1200px) {
    .product-gallery__thumbnail-list {
      grid-auto-columns: 17.9%;
    }
    #shopify-section-{{ section.id }} .section {
      padding: 22px 70px 70px 70px;
    }
    .product-info {
      padding-left: 50px;
    }
  }
  @media screen and (min-width: 1300px) {
    .product-gallery__thumbnail-list {
      grid-auto-columns: 18.1%;
    }
    #shopify-section-{{ section.id }} .section {
      padding: 22px 100px 70px 100px;
    }
    .product-info {
      padding-left: 70px;
    }
  }
  @media screen and (min-width: 1400px) {
    #shopify-section-{{ section.id }} {
      --product-gallery-media-list-gap: var(--grid-gutter);
    }
    #shopify-section-{{ section.id }} .section {
      padding: 22px 120px 70px 120px;
    }
    .product-gallery__thumbnail-list {
      grid-auto-columns: 18.4%;
    }
    .product-info {
      padding-left: 100px;
    }
  }
</style>

{%- capture product_form_id -%}product-form-{{ product.id }}-{{ section.id }}{%- endcapture -%}

<div {% render 'section-properties', tight: true %}>
  <product-rerender
    id="product-info-{{ product.id }}-{{ section.id }}"
    observe-form="{{ product_form_id }}"
    allow-partial-rerender
  >
    <div class="product">
      {%- if product.media.size > 0 -%}
        {%- render 'product-gallery', product: product, product_form_id: product_form_id -%}
      {%- endif -%}

      {%- render 'product-info',
        product: product,
        update_url: true,
        product_form_id: product_form_id,
        context: 'main_product'
      -%}
    </div>
  </product-rerender>
</div>

{%- assign buy_buttons_block = section.blocks | where: 'type', 'buy_buttons' | first -%}

{%- if section.settings.show_fixed_add_to_cart and product.available and buy_buttons_block != blank -%}
  <product-rerender id="{{ product_form_id }}-sticky-bar" observe-form="{{ product_form_id }}">
    {%- if product.selected_or_first_available_variant.available -%}
      <product-quick-add form="{{ product_form_id }}" class="product-quick-add">
        {%- assign button_label = 'product.general.add_to_cart_button' | t -%}

        <buy-buttons template="{{ product.template_suffix }}" form="{{ product_form_id }}" class="sm:hidden">
          {%- render 'button',
            type: 'submit',
            content: button_label,
            form: product_form_id,
            background: buy_buttons_block.settings.atc_button_background,
            text_color: buy_buttons_block.settings.atc_button_text_color,
            secondary: true,
            stretch: true,
            size: 'lg'
          -%}
        </buy-buttons>

        {%- assign image = product.selected_or_first_available_variant.featured_media
          | default: product.featured_media
        -%}

        <div class="product-quick-add__variant {% if image == blank %}no-image{% endif %} hidden sm:grid">
          {%- if image != blank -%}
            <variant-media widths="80,160" form="{{ product_form_id }}">
              {{-
                image
                | image_url: width: image.width
                | image_tag: loading: 'lazy', sizes: '80px', widths: '80,160', class: 'rounded-xs'
              -}}
            </variant-media>
          {%- endif -%}

          <div class="v-stack gap-0.5">
            {%- assign vendor_block = section.blocks | where: 'type', 'vendor' -%}

            {%- if vendor_block != blank -%}
              {%- render 'vendor' with product.vendor, class: 'text-xs' -%}
            {%- endif -%}

            <a href="{{ product.url }}" class="bold truncate-text">{{ product.title }}</a>
            {%- render 'price-list',
              product: product,
              variant: product.selected_or_first_available_variant,
              form_id: product_form_id
            -%}
          </div>

          <buy-buttons template="{{ product.template_suffix }}" form="{{ product_form_id }}" force-secondary-button>
            {%- render 'button',
              type: 'submit',
              content: button_label,
              form: product_form_id,
              background: buy_buttons_block.settings.atc_button_background,
              text_color: buy_buttons_block.settings.atc_button_text_color,
              secondary: true
            -%}
          </buy-buttons>
        </div>
      </product-quick-add>
    {%- endif -%}
  </product-rerender>
{%- endif -%}

{%- comment -%}
  IMPLEMENTATION NOTE: Shopify does not currently allows to render a given section within the context of a given product. However,
  when rendering the quick buy popovers, we want to be able to re-use the merchant's choices (such as the selector type). This
  is however only possible by rendering the whole product page, and extracting the relevant part. Here, we therefore render the
  quick buy information in a template, that will be extracted in JS, but ensure it is not visible in the main product page
{%- endcomment -%}

{%- render 'product-quick-buy', product: product -%}

{% schema %}
{
  "name": "Product page",
  "class": "shopify-section--main-product",
  "tag": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "heading_tag",
          "label": "Style",
          "options": [
            {
              "value": "h1",
              "label": "X-Large"
            },
            {
              "value": "h2",
              "label": "Large"
            },
            {
              "value": "h3",
              "label": "Medium"
            },
            {
              "value": "h4",
              "label": "Small"
            },
            {
              "value": "h5",
              "label": "X-Small"
            },
            {
              "value": "h6",
              "label": "XX-Small"
            }
          ],
          "default": "h2"
        }
      ]
    },
    {
      "type": "subtitle",
      "name": "SubTitle",
      "settings": [
        {
          "type": "text",
          "id": "sub_title",
          "label": "Sub Title",
          "default": "sub title"
        }
      ]
    },
    {
      "name": "Paragraph",
      "type": "richtext",
      "settings": [
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        }
      ]
    },
    {
      "type": "sku",
      "name": "SKU",
      "limit": 1
    },
    {
      "type": "badges",
      "name": "Badges",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Use metafields to add custom badges. [Learn more](https://support.maestrooo.com/article/75-collection-displaying-custom-label)"
        }
      ]
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_taxes_notice",
          "label": "Show taxes notice",
          "default": false
        }
      ]
    },
    {
      "type": "payment_terms",
      "name": "Payment installments",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To display payment installments, your store needs to support Shop Pay Installments. [Learn more](https://help.shopify.com/en/manual/payments/shop-pay-installments)"
        }
      ]
    },
    {
      "type": "rating",
      "name": "Rating",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To display a rating, add a product rating app. [Learn more](https://apps.shopify.com/categories/store-design-social-proof-product-reviews)"
        },
        {
          "type": "checkbox",
          "id": "show_empty",
          "label": "Show if no reviews",
          "default": false
        }
      ]
    },
    {
      "type": "separator",
      "name": "Separator"
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "collapse_content",
          "label": "Collapse content",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "is_open",
          "label": "Open by default",
          "default": false
        }
      ]
    },
    {
      "type": "variant_picker",
      "name": "Variant picker",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "hide_sold_out_variants",
          "label": "Hide sold out variants",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "stack_blocks",
          "label": "Stack options on mobile",
          "default": true
        },
        {
          "type": "select",
          "id": "selector_style",
          "label": "Selector style",
          "options": [
            {
              "value": "block",
              "label": "Block"
            },
            {
              "value": "dropdown",
              "label": "Dropdown"
            }
          ],
          "default": "block"
        },
        {
          "type": "select",
          "id": "swatch_selector_style",
          "label": "Swatch selector style",
          "info": "Enable [swatches](https://help.shopify.com/en/manual/online-store/themes/theme-structure/theme-settings#options-with-swatches) on product options.",
          "options": [
            {
              "value": "swatch",
              "label": "Swatch"
            },
            {
              "value": "block_swatch",
              "label": "Block with swatch"
            },
            {
              "value": "none",
              "label": "None"
            }
          ],
          "default": "swatch"
        },
        {
          "type": "text",
          "id": "variant_image_options",
          "label": "Show variant image for options",
          "info": "List of comma separated option names where option values show the attached variant image. [Learn more](https://impact-theme.helpscoutdocs.com/article/555-variant-images-for-color-option)"
        },
        {
          "type": "page",
          "id": "size_chart_page",
          "label": "Size chart page",
          "info": "Feature a page for size option"
        }
      ]
    },
    {
      "type": "product_variations",
      "name": "Product variations",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Link products of different colors using swatches. [Learn more](https://support.maestrooo.com/article/307-product-creating-product-variations-that-link-to-different-pages)"
        },
        {
          "type": "text",
          "id": "option_name",
          "label": "Option name",
          "info": "Example: Colors, Style..."
        },
        {
          "type": "text",
          "id": "option_value_metafield",
          "label": "Option value metafield",
          "info": "Enter namespace and key of the metafield holding the value. Eg.: custom.color"
        },
        {
          "type": "product_list",
          "id": "products",
          "label": "Products",
          "info": "Select all the variations (including the product itself)."
        },
        {
          "type": "select",
          "id": "selector_style",
          "label": "Selector style",
          "info": "Product image mode requires that all variant have an associated image. [Learn more](https://help.shopify.com/en/manual/products/product-media/add-images-variants#add-images-to-existing-variants)",
          "options": [
            {
              "value": "block",
              "label": "Block"
            },
            {
              "value": "block_swatch",
              "label": "Block with swatch"
            },
            {
              "value": "swatch",
              "label": "Swatch"
            },
            {
              "value": "variant_image",
              "label": "Variant image"
            }
          ],
          "default": "swatch"
        }
      ]
    },
    {
      "type": "line_item_property",
      "name": "Line item property",
      "settings": [
        {
          "type": "paragraph",
          "content": "Line item properties are used to collect customization information for an item added to the cart."
        },
        {
          "type": "text",
          "id": "label",
          "label": "Label",
          "default": "Your label"
        },
        {
          "type": "select",
          "id": "type",
          "label": "Type",
          "options": [
            {
              "value": "text",
              "label": "Text"
            },
            {
              "value": "checkbox",
              "label": "Checkbox"
            }
          ],
          "default": "text"
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "Required",
          "info": "For text property, the customer must write a text ; for checkbox, the customer must check it to add to cart.",
          "default": false
        },
        {
          "type": "header",
          "content": "Text",
          "info": "Only applicable for line item property of type Text."
        },
        {
          "type": "checkbox",
          "id": "allow_long_text",
          "label": "Allow long text",
          "default": false
        },
        {
          "type": "number",
          "id": "max_length",
          "label": "Maximum number of characters"
        }
      ]
    },
    {
      "type": "quantity_selector",
      "name": "Quantity selector",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "The selector is automatically hidden if all variants are sold out. When at least one variant is available, the selector is always visible to prevent the page from moving when switching variants."
        }
      ]
    },
    {
      "type": "inventory",
      "name": "Inventory",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "low_inventory_threshold",
          "label": "Low inventory threshold",
          "info": "Use low stock color when quantity is below the threshold. Choose 0 to always show in stock.",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 0
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "Buy buttons",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_payment_icons",
          "label": "Show Payment Icons",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_payment_button",
          "label": "Show dynamic checkout button",
          "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_gift_card_recipient",
          "label": "Show recipient information form for gift cards",
          "info": "Allow buyers to send gift cards along with a personal message. [Learn more](https://help.shopify.com/manual/online-store/themes/customizing-themes/add-gift-card-recipient-fields)",
          "default": true
        },
        {
          "type": "color",
          "id": "atc_button_background",
          "label": "Add to cart background"
        },
        {
          "type": "color",
          "id": "atc_button_text_color",
          "label": "Add to cart color"
        },
        {
          "type": "color",
          "id": "payment_button_background",
          "label": "Buy now button background"
        },
        {
          "type": "color",
          "id": "payment_button_text_color",
          "label": "Buy now button color"
        }
      ]
    },
    {
      "type": "pickup_availability",
      "name": "Pickup availability",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Allow your customers to see availability in retail stores by [setting up local pickup](https://help.shopify.com/en/manual/sell-in-person/shopify-pos/order-management/local-pickup-for-online-orders)."
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Share some content to your customers about your products.</p>"
        }
      ]
    },
    {
      "type": "collapsible_text",
      "name": "Collapsible text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Share some content to your customers about your products.</p>"
        },
        {
          "type": "checkbox",
          "id": "is_open",
          "label": "Open by default",
          "default": false
        },
        {
          "type": "page",
          "id": "page",
          "label": "Page",
          "info": "Replaces inline content if specified."
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Alignment",
          "options": [
            {
              "value": "start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "end",
              "label": "Right"
            }
          ],
          "default": "start"
        },
        {
          "type": "range",
          "id": "max_width",
          "min": 50,
          "max": 500,
          "step": 10,
          "unit": "px",
          "label": "Width",
          "default": 150
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "paragraph",
          "content": "Create link to your contact page, external marketplace..."
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Button"
        },
        {
          "type": "select",
          "id": "size",
          "label": "Size",
          "options": [
            {
              "value": "sm",
              "label": "Small"
            },
            {
              "value": "base",
              "label": "Medium"
            },
            {
              "value": "lg",
              "label": "Large"
            },
            {
              "value": "xl",
              "label": "X-Large"
            }
          ],
          "default": "xl"
        },
        {
          "type": "select",
          "id": "style",
          "label": "Style",
          "options": [
            {
              "value": "outline",
              "label": "Outline"
            },
            {
              "value": "fill",
              "label": "Fill"
            }
          ],
          "default": "fill"
        },
        {
          "type": "checkbox",
          "id": "stretch",
          "label": "Stretch",
          "default": true
        },
        {
          "type": "color",
          "id": "background",
          "label": "Background"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text"
        }
      ]
    },
    {
      "type": "liquid",
      "name": "Custom Liquid",
      "settings": [
        {
          "type": "liquid",
          "id": "liquid",
          "label": "Liquid",
          "info": "Add app snippets or other Liquid code to create advanced customizations."
        }
      ]
    },
    {
      "type": "associated_products",
      "name": "Complementary products",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To select complementary products, use the Search & Discovery app. [Learn more](https://help.shopify.com/en/manual/online-store/search-and-discovery/product-recommendations#complementary-products)"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Buy it with"
        },
        {
          "type": "checkbox",
          "id": "stack_products",
          "label": "Stack products",
          "default": true
        },
        {
          "type": "range",
          "id": "products_count",
          "min": 1,
          "max": 10,
          "label": "Products to show",
          "default": 5
        },
        {
          "type": "header",
          "content": "Colors",
          "info": "Cards are bordered when background matches section background."
        },
        {
          "type": "color",
          "id": "background",
          "label": "Background"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text"
        }
      ]
    },
    {
      "type": "offer",
      "name": "Offer",
      "settings": [
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text alignment",
          "options": [
            {
              "value": "start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            }
          ],
          "default": "start"
        },
        {
          "type": "select",
          "id": "icon_position",
          "label": "Icon position",
          "options": [
            {
              "value": "aligned",
              "label": "Aligned horizontally"
            },
            {
              "value": "stacked",
              "label": "Stacked"
            }
          ],
          "default": "aligned"
        },
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "picto-coupon",
              "label": "Coupon",
              "group": "Shop"
            },
            {
              "value": "picto-percent",
              "label": "Percent",
              "group": "Shop"
            },
            {
              "value": "picto-gift",
              "label": "Gift",
              "group": "Shop"
            },
            {
              "value": "picto-star",
              "label": "Star",
              "group": "Shop"
            },
            {
              "value": "picto-like",
              "label": "Like",
              "group": "Shop"
            },
            {
              "value": "picto-building",
              "label": "Building",
              "group": "Shop"
            },
            {
              "value": "picto-love",
              "label": "Love",
              "group": "Shop"
            },
            {
              "value": "picto-award-gift",
              "label": "Award gift",
              "group": "Shop"
            },
            {
              "value": "picto-happy",
              "label": "Happy",
              "group": "Shop"
            },
            {
              "value": "picto-box",
              "label": "Box",
              "group": "Shipping"
            },
            {
              "value": "picto-pin",
              "label": "Pin",
              "group": "Shipping"
            },
            {
              "value": "picto-timer",
              "label": "Timer",
              "group": "Shipping"
            },
            {
              "value": "picto-validation",
              "label": "Validation",
              "group": "Shipping"
            },
            {
              "value": "picto-truck",
              "label": "Truck",
              "group": "Shipping"
            },
            {
              "value": "picto-return",
              "label": "Return",
              "group": "Shipping"
            },
            {
              "value": "picto-earth",
              "label": "Earth",
              "group": "Shipping"
            },
            {
              "value": "picto-plane",
              "label": "Plane",
              "group": "Shipping"
            },
            {
              "value": "picto-credit-card",
              "label": "Credit card",
              "group": "Payment & Security"
            },
            {
              "value": "picto-lock",
              "label": "Lock",
              "group": "Payment & Security"
            },
            {
              "value": "picto-shield",
              "label": "Shield",
              "group": "Payment & Security"
            },
            {
              "value": "picto-secure-profile",
              "label": "Secure profile",
              "group": "Payment & Security"
            },
            {
              "value": "picto-money",
              "label": "Money",
              "group": "Payment & Security"
            },
            {
              "value": "picto-recycle",
              "label": "Recycle",
              "group": "Ecology"
            },
            {
              "value": "picto-leaf",
              "label": "Leaf",
              "group": "Ecology"
            },
            {
              "value": "picto-tree",
              "label": "Tree",
              "group": "Ecology"
            },
            {
              "value": "picto-mobile-phone",
              "label": "Mobile phone",
              "group": "Communication"
            },
            {
              "value": "picto-phone",
              "label": "Phone",
              "group": "Communication"
            },
            {
              "value": "picto-chat",
              "label": "Chat",
              "group": "Communication"
            },
            {
              "value": "picto-customer-support",
              "label": "Customer support",
              "group": "Communication"
            },
            {
              "value": "picto-operator",
              "label": "Operator",
              "group": "Communication"
            },
            {
              "value": "picto-mailbox",
              "label": "Mailbox",
              "group": "Communication"
            },
            {
              "value": "picto-envelope",
              "label": "Envelope",
              "group": "Communication"
            },
            {
              "value": "picto-comment",
              "label": "Comment",
              "group": "Communication"
            },
            {
              "value": "picto-question",
              "label": "Question",
              "group": "Communication"
            },
            {
              "value": "picto-send",
              "label": "Send",
              "group": "Communication"
            },
            {
              "value": "picto-at-sign",
              "label": "At sign",
              "group": "Tech"
            },
            {
              "value": "picto-camera",
              "label": "Camera",
              "group": "Tech"
            },
            {
              "value": "picto-wifi",
              "label": "WiFi",
              "group": "Tech"
            },
            {
              "value": "picto-bluetooth",
              "label": "Bluetooth",
              "group": "Tech"
            },
            {
              "value": "picto-printer",
              "label": "Printer",
              "group": "Tech"
            },
            {
              "value": "picto-smart-watch",
              "label": "Smart watch",
              "group": "Tech"
            },
            {
              "value": "picto-coffee",
              "label": "Coffee",
              "group": "Food & Drink"
            },
            {
              "value": "picto-burger",
              "label": "Burger",
              "group": "Food & Drink"
            },
            {
              "value": "picto-beer",
              "label": "Beer",
              "group": "Food & Drink"
            },
            {
              "value": "picto-target",
              "label": "Target",
              "group": "Other"
            },
            {
              "value": "picto-document",
              "label": "Document",
              "group": "Other"
            },
            {
              "value": "picto-jewelry",
              "label": "Jewelry",
              "group": "Other"
            },
            {
              "value": "picto-music",
              "label": "Music",
              "group": "Other"
            },
            {
              "value": "picto-file",
              "label": "File",
              "group": "Other"
            },
            {
              "value": "picto-mask",
              "label": "Mask",
              "group": "Other"
            },
            {
              "value": "picto-stop",
              "label": "Stop",
              "group": "Other"
            }
          ],
          "default": "picto-coupon"
        },
        {
          "type": "image_picker",
          "id": "custom_icon",
          "label": "Custom icon",
          "info": "240 x 240px .png recommended"
        },
        {
          "type": "range",
          "id": "icon_width",
          "min": 20,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "Icon width",
          "default": 24
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Shipping"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Short content about your shipping rates or discounts.</p>"
        },
        {
          "type": "color",
          "id": "background",
          "label": "Background",
          "default": "#eaf2ed"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text",
          "default": "#00a341"
        }
      ]
    },
    {
      "type": "share_buttons",
      "name": "Share buttons",
      "settings": [
        {
          "type": "paragraph",
          "content": "To improve user experience and performance, native share buttons are used when supported."
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Alignment",
          "options": [
            {
              "value": "start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "end",
              "label": "Right"
            }
          ],
          "default": "start"
        }
      ]
    },
    {
      "name": "Reviewer",
      "type": "reviewer",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_for_reviewer",
          "label": "Image for reviewer",
          "info": "1247 x 1247px .png recommended"
        },
        {
          "type": "textarea",
          "id": "review_content",
          "label": "Review content",
          "default": "Love it! Makes me feel clean. Easy to care for"
        },
        {
          "type": "textarea",
          "id": "review_text",
          "label": "Review Text",
          "default": "Love this product!"
        },
        {
          "type": "text",
          "id": "reviewer_name",
          "label": "reviewer name"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_fixed_add_to_cart",
      "label": "Show add to cart on scroll",
      "default": true
    },
    {
      "type": "header",
      "content": "Media"
    },
    {
      "type": "paragraph",
      "content": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
    },
    {
      "type": "range",
      "id": "desktop_media_width",
      "label": "Desktop media size",
      "min": 35,
      "max": 65,
      "step": 5,
      "unit": "%",
      "default": 55
    },
    {
      "type": "select",
      "id": "desktop_media_layout",
      "label": "Desktop media layout",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "grid_highlight",
          "label": "Grid with main media"
        },
        {
          "value": "carousel_thumbnails_left",
          "label": "Thumbnails left (carousel)"
        },
        {
          "value": "carousel_thumbnails_bottom",
          "label": "Thumbnails bottom (carousel)"
        }
      ],
      "default": "carousel_thumbnails_left"
    },
    {
      "type": "select",
      "id": "mobile_media_size",
      "label": "Mobile media size",
      "options": [
        {
          "value": "expanded",
          "label": "Expanded"
        },
        {
          "value": "contained",
          "label": "Contained"
        }
      ],
      "default": "expanded"
    },
    {
      "type": "select",
      "id": "mobile_carousel_control",
      "label": "Mobile carousel control",
      "options": [
        {
          "value": "dots",
          "label": "Dots"
        },
        {
          "value": "floating_dots",
          "label": "Floating dots"
        },
        {
          "value": "thumbnails",
          "label": "Thumbnails"
        },
        {
          "value": "free_scroll",
          "label": "Free scroll"
        }
      ],
      "default": "floating_dots"
    },
    {
      "type": "checkbox",
      "id": "enable_video_autoplay",
      "label": "Enable video autoplay",
      "info": "Video are muted automatically to allow autoplay. Grid mode on desktop turn off autoplay.",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "Enable video looping",
      "default": true
    },
    {
      "type": "header",
      "content": "Image zoom"
    },
    {
      "type": "checkbox",
      "id": "enable_image_zoom",
      "label": "Enable",
      "default": true
    },
    {
      "type": "range",
      "id": "max_image_zoom_level",
      "min": 1,
      "max": 4,
      "step": 0.5,
      "label": "Max zoom level",
      "default": 3
    },
    {
      "type": "header",
      "content": "Colors",
      "info": "Gradient replaces solid colors when set."
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "Input colors",
      "info": "Applies to elements like quantity selector and variant selectors."
    },
    {
      "type": "color",
      "id": "input_background",
      "label": "Background",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "input_text_color",
      "label": "Text"
    }
  ]
}
{% endschema %}
