{%- render 'section-spacing-collapsing' -%}

{%- comment -%}
  ------------------------------------------------------------------------------------------------------------------------
  CSS
  ------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}
<style>
  {%- assign block_size = section.settings.block_size -%}

  #shopify-section-{{ section.id }} .section-blends {
    background-image: none;
    background-color: #FFFFFF;
    padding: 32px 0;
  }

  .structure-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    padding: 0 21.5px
  }
  .structure-part {
    display: flex;
    flex-direction: column-reverse;
    gap: 7px;
  }
  .structure-part img {
    margin: auto;
    width: 102px;
    height: 102px;
    object-fit: cover;
    border-radius: 50%;
  }
  .structure-part h3 {
    font-family: var(--heading-font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 21.02px;
    text-align: center;
  }
  .structure-part p {
    font-size: 13px;
    font-weight: 450;
    line-height: 18.2px;
    letter-spacing: -0.03em;
    text-align: center;
  }
  .text-wrapper h3{
    margin-bottom: 15px;
  }
  .primary-image {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }
  .primary-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0;
  }
  .goshop-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
  }
  .goshop {
    width: 276px;
    padding: 18px 0;
    margin: auto;
  }
  .goshop a {
    font-size: 16px;
    font-weight: 700;
    line-height: 15.8px;
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .goshop svg {
    width: 16px;
    height: 16px;
  }
  .overlay-goshop-reviewstar-container {
    text-align: center;
  }
  .goshop-btn-container svg {
    width: 16px;
    height: 16px;
  }
  .overlay-goshop-right {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
  .goshop-btn-container div p {
    margin: auto;
    font-size: 12px;
    line-height: 15.3px;
  }
  .image-desktop {
    display: none;
  }
  .image-mobile {
    display: block;
  }

  @media screen and (min-width: 700px) {
    #shopify-section-{{ section.id }} .section-blends {
      padding: 80px 0;
    }
    .goshop {
      width: 343px;
    }
    .goshop a {
      font-size: 20px;
      line-height: 19.8px;
    }
    .structure-container {
      grid-template-columns: 18% auto 18%;
      padding: 0 50px;
      column-gap: 13px;
      row-gap: 48px;
    }
    .primary-image {
      grid-row: 1 / 3;
      grid-column: 2 / 3;
      margin: auto;
    }
    .structure-part {
      flex-direction: column;
    }
    .overlay-goshop-right {
      flex-direction: row;
      gap: 8px;
    }
    .image-desktop {
      display: block;
    }
    .image-mobile {
      display: none;
    }
    .structure-part.part-1 {
      grid-row: 2 / 3;
      grid-column: 3 / 4;
    }
    .structure-part.part-5 {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
    }
  }

  @media screen and (min-width: 1000px) {
    .structure-container {
      padding: 0 70px;
    }
  }

  @media screen and (min-width: 1400px) {
    .structure-container {
      padding: 0 120px;
    }
  }
</style>

{%- comment -%}
  ------------------------------------------------------------------------------------------------------------------------
  LIQUID
  ------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

<div {% render 'section-properties' %}>
  <div class="section-stack">
    {%- render 'section-header',
      subheading: section.settings.subheading,
      heading: section.settings.title,
      heading_color: section.settings.heading_color,
      heading_gradient: section.settings.heading_gradient,
      content: section.settings.content,
      link_text: section.settings.link_text,
      link_url: section.settings.link_url
    -%}

    <div class="structure-container">
      {% for block in section.blocks %}
        <div class="structure-part part-{{ forloop.index }} {% if block.settings.main_part %}primary-image{% endif %}">
          <picture>
            {%- if block.settings.image_mobile != blank -%}
              {{-
                block.settings.image_mobile
                | image_url: width: block.settings.image_mobile.width
                | image_tag:
                  sizes: sizes,
                  widths: '200,300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200',
                  class: 'image-mobile'
              -}}
            {%- endif -%}
            {% if block.settings.image != blank %}
              {{-
                block.settings.image
                | image_url: width: block.settings.image.width
                | image_tag:
                  sizes: sizes,
                  widths: '200,300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200',
                  class: 'image-desktop'
              -}}
            {% endif %}
          </picture>
          <div class="text-wrapper">
            {% if block.settings.desc_title != blank %}
              <h3>{{ block.settings.desc_title }}</h3>
            {% endif %}
            {% if block.settings.content != blank %}
              <p>{{ block.settings.content }}</p>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="goshop-btn-container">
      {%- if section.settings.btn_text != blank -%}
        <div class="goshop">
          <a href="{{section.settings.url}}">
            {{- section.settings.btn_text }}
            {%- render 'overlay-shopnow-btn-arrowicon' -%}
          </a>
        </div>
      {%- endif -%}
      <div class="overlay-goshop-right">
        <div class="overlay-goshop-reviewstar-container">
          {%- render 'review-star' -%}
          {%- render 'review-star' -%}
          {%- render 'review-star' -%}
          {%- render 'review-star' -%}
          {%- render 'review-star' -%}
        </div>
        <p>Loved by <b>785</b> Happy Customers</p>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product Structure",
  "class": "shopify-section--product-structure",
  "tag": "section",
  "blocks": [
    {
      "name": "Structure Description",
      "type": "str_desc",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image for desktop",
          "info": "150 x 150px .jpg recommended"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image for mobile",
          "info": "150 x 150px .jpg recommended"
        },
        {
          "type": "checkbox",
          "id": "main_part",
          "label": "Primary Image"
        },
        {
          "type": "text",
          "id": "desc_title",
          "label": "Title",
          "default": "<p>Title</p>"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": false
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Text",
      "default": "Button text"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Link"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading color"
    },
    {
      "type": "color_background",
      "id": "heading_gradient",
      "label": "Heading gradient"
    }
  ],
  "presets": [
    {
      "name": "Product Structure"
    }
  ]
}
{% endschema %}
