{%- if section.blocks.size > 0 -%}
  {%- render 'section-spacing-collapsing' -%}

  <style>
    #shopify-section-{{ section.id }} .section-blends {
      background-image: url("https://cdn.shopify.com/s/files/1/0496/2936/4391/files/problem-solutions-mobile-bg.jpg?v=1723836640") !important;
      background-size: cover;
    }
    .tabs-container {
      background: #FFFFFF;
      display: none;
    }
    #tabs-swiper {
      display: block;
    }
    .tab-content .img-container{
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .tab-content .img-container img{
      margin-block: 0 !important;
    }
    .tab-content .content-heading {
      font-family: var(--heading-font-family);
    }
    .tab-content .content-desc {
      font-family: var(--text-font-family);
    }

    #tabs-swiper {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    #tabs-swiper .swiper-slide {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 15px;
    }

    #tabs-swiper .img-container img {
      width: 290px;
      height: 290px;
      object-fit: cover;
    }

    #tabs-swiper .text-container {
      padding: 0 15px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    #tabs-swiper .content-heading {
      font-size: 15px;
      font-weight: 700;
      line-height: 16px;
    }

    #tabs-swiper .content-desc {
      margin: auto;
      padding: 0 2rem;
    }
    .tab-mobile-footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      gap: 12px;
    }

    #tabs-swiper .overlay-goshop-right .overlay-goshop-reviewstar-container {
      display: flex;
      gap: 2px;
    }

    #tabs-swiper .overlay-goshop-right {
      margin: auto;
    }
    #tabs-swiper .overlay-goshop-right svg {
      width: 16px;
      height: 16px;
    }
    #tabs-swiper .overlay-goshop-right div {
      line-height: 13px;
    }
    #tabs-swiper .overlay-goshop-right p:nth-of-type(1) {
      display: block;
      font-family: var(--btn-font-family);
      font-size: 12px;
      font-weight: 300;
      text-align: left;
    }

    #tabs-swiper .goshop{
      padding: 18px 40px;
      gap: 24px;
      margin: 0 auto;
      width: 70%;
      max-width: 276px;
    }
    #tabs-swiper .goshop span{
      font-size: 16px;
      line-height: 15.68px;
      font-weight: 700;

    }

    #tabs-swiper .goshop svg {
      width: 16px;
      height: 16px;
    }

    @media screen and (min-width: 800px) {
      #shopify-section-{{ section.id }} {
        --tabs-max-width: {% if section.settings.content_size == 'small' %}680{% elsif section.settings.content_size == 'medium' %}1170{% elsif section.settings.content_size == 'large' %}1170{% endif %}px;
        --section-stack-spacing-block: var(--spacing-8);
      }
      #shopify-section-{{ section.id }} .section-blends {
        background-image: url("https://cdn.shopify.com/s/files/1/0496/2936/4391/files/problem-solutions-desktop-bg.jpg?v=1723836642") !important;
      }
      .tabs-container {
        display: block;
      }

      #tabs-swiper {
        display: none;
      }

      .tabs-inner {
        gap: 0;
      }
      .tabs-inner::part(tab-list):after {
        background: #FFFFFF;
      }
      .tabs-nav__button {
        display: flex;
        flex-direction: column;
        flex-flow: wrap;
        gap: 26px;
        justify-content: center;
        height: 195.97px;
        padding: 0;
        color: #B6B5C2;
        margin: auto;
        background: #F7F8FA;
        border-left: solid 1px #C3C3CD;
        border-right: none;
        border-bottom: solid 1px #C3C3CD;
        border-top: none;
        width: 100%;
      }
      .tabs-nav__button svg {
        width: inherit !important;
        margin: auto;
      }
      .tabs-nav__button .active {
        display: none;
      }
      .tabs-nav__button .gray {
        display: block;
      }
      .tabs-nav__button {
        margin: auto;
      }

      .tabs-nav__button img {
          width: 110.59px;
          height: 70.63px;
          margin-left: auto;
          margin-right: auto;
      }
      .tabs-nav__button:first-child {
          border-left: none;
          border-bottom: solid 1px;
      }
      .tabs-nav__button[aria-selected=true] {
          color: #92B9D5;
          background: #FFFFFF;
      }
      .tabs-nav__button[aria-selected=true] .gray{
        display: none;
      }
      .tabs-nav__button[aria-selected=true] .active{
        display: block;
      }
      .tabs-nav__button[aria-selected=false] .gray{
        display: block
      }

      .tabs-nav__button[aria-selected=false] .active{
        display: none;
      }

      .tab-content {
        padding: 32px 42px;
        display: flex;
        align-items: center;
        gap: 58px;
      }

      .tab-content .img-container img{
        width: 360.58px;
        max-width: 320.58px;
        height: 417.54px;
        object-fit: cover;
      }

      .tab-content .solution-img{
        display: none;
      }

      .tab-content .text-container {
        margin: 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 38px;
      }

      .tab-content .text-container div {
        margin: 0;
      }
      .tab-content .content-heading {
        line-height: 48px;
        font-size: 50px;
      }

      .tab-content .content-desc {
        font-size: 24px;
        line-height: 36px;
      }

      .tab-content .goshop{
        font-size: 24px;
        display: inline-block;
        padding: 23px 73px;
        width: 304px;
      }
    }

    @media screen and (min-width: 1400px) {
      #shopify-section-{{ section.id }} {
        --section-stack-spacing-block: var(--spacing-12);
      }
    }
  </style>

  <div {% render 'section-properties' %}>
    <div class="tabs">
      <div class="section-stack">
        {%- if section.settings.subheading != blank or section.settings.title != blank -%}
          {% comment %}
            <div class="prose text-center">
              {%- if section.settings.subheading != blank -%}
                <p class="subheading">{{ section.settings.subheading | escape }}</p>
              {%- endif -%}

              {%- if section.settings.title != blank -%}
                <p class="h2">{%- render 'styled-text', content: section.settings.title, text_color: section.settings.heading_color, gradient: section.settings.heading_gradient -%}</p>
              {%- endif -%}
            </div>
          {% endcomment %}
          {%- render 'section-header',
            subheading: section.settings.subheading,
            heading: section.settings.title,
            heading_color: section.settings.heading_color,
            heading_gradient: section.settings.heading_gradient,
            content: section.settings.content
          -%}
        {%- endif -%}

        <div class="tabs-container">
          <div class="sm:hidden">
            {%- for block in section.blocks -%}
              {%- assign title = block.settings.title | default: block.settings.page.title -%}
              {%- assign content = block.settings.page.content | default: block.settings.content -%}

              {%- if title and content -%}
                {%- assign open = false -%}

                {%- if forloop.first and section.settings.first_tab_open -%}
                  {%- assign open = true -%}
                {%- endif -%}

                {%- capture accordion_content -%}
                  <div class="prose">{{ content }}</div>
                {%- endcapture -%}

                {%- render 'accordion', title: title, content: accordion_content, open: open -%}
              {%- endif -%}
            {%- endfor -%}
          </div>

          <x-tabs class="tabs-inner sm:text-{{ section.settings.text_alignment | replace: 'left', 'start' | replace: 'right', 'end' }}">
            <template shadowrootmode="open">
              <style>
                .tab-list::after {
                  background: #ffffff;
                }
              </style>
              <slot role="tablist" part="tab-list" name="title"></slot>
              <slot part="tab-panels" name="content"></slot>
            </template>

            {%- for block in section.blocks -%}
              {%- assign title = block.settings.title | default: block.settings.page.title -%}
              {%- assign content = block.settings.page.content | default: block.settings.content -%}
              {%- assign proimg = block.settings.proimg -%}
              {%- assign solimg = block.settings.solimg -%}
              {%- if title != blank and content != blank -%}
                <button
                  type="button"
                  slot="title"
                  class="tabs-nav__button bold text-subdued text-center"
                  {{ block.shopify_attributes }}
                >
                  {% if block.settings.icon != blank %}
                    {%- assign active_icon = block.settings.icon | append: '-active' -%}

                    {%- render 'icon' with block.settings.icon, class: 'gray' -%}
                    {%- render 'icon' with active_icon -%}
                  {% else %}
                    <p>SVG</p>
                  {% endif %}
                </button>
                <div
                  role="tabpanel"
                  class="tab-content prose"
                  slot="content"
                  {% cycle '', 'hidden', 'hidden', 'hidden', 'hidden' %}
                >
                  <div class="img-container">
                    {% if proimg != blank %}
                      <div class="problem-img">
                        {%- capture sizes -%}(max-width: 699px) 73vw, {{ settings.page_width | divided_by: section.settings.collections_per_row }}px{%- endcapture -%}
                        <div>
                          {{-
                            proimg
                            | image_url: width: proimg.width
                            | image_tag:
                              loading: 'lazy',
                              sizes: sizes,
                              widths: '200,300,400,500,600,800,1000,1200,1400,1600',
                              class: 'zoom-image'
                          -}}
                        </div>
                      </div>
                    {% endif %}
                    {% if solimg != blank %}
                      <div class="solution-img">
                        {{- solimg | image_url: width: '100%' | image_tag: loading: 'lazy' -}}
                        {%- capture sizes -%}(max-width: 699px) 73vw, {{ settings.page_width | divided_by: section.settings.collections_per_row }}px{%- endcapture -%}
                        <div>
                          {{-
                            solimg
                            | image_url: width: solimg.width
                            | image_tag:
                              loading: 'lazy',
                              sizes: sizes,
                              widths: '200,300,400,500,600,800,1000,1200,1400,1600',
                              class: 'zoom-image'
                          -}}
                        </div>
                      </div>
                    {% endif %}
                  </div>
                  <div class="text-container">
                    {% if title != blank %}
                      <div class="content-heading">{{ title }}</div>
                    {% endif %}
                    {% if content != blank %}
                      <div class="content-desc">{{ content }}</div>
                    {% endif %}
                    {% if block.settings.url != blank %}
                      <div>
                        <a href="{{block.settings.url}}" class="goshop">
                          {{ block.settings.text | default: 'SHOP NOW' }}
                        </a>
                      </div>
                    {% endif %}
                  </div>
                </div>
              {%- endif -%}
            {%- endfor -%}
          </x-tabs>
        </div>
        <div class="swiper" id="tabs-swiper">
          <div class="swiper-wrapper">
            {%- for block in section.blocks limit: section.blocks.size -%}
              {%- assign title = block.settings.title | default: block.settings.page.title -%}
              {%- assign content = block.settings.page.content | default: block.settings.content -%}
              {%- assign proimg = block.settings.proimg -%}
              {%- assign solimg = block.settings.solimg -%}
              <div class="swiper-slide">
                <div class="img-container">
                  {% if proimg != blank %}
                    <div class="problem-img">
                      {%- capture sizes -%}(max-width: 699px) 73vw, {{ settings.page_width | divided_by: section.settings.collections_per_row }}px{%- endcapture -%}
                      <div>
                        {{-
                          proimg
                          | image_url: width: proimg.width
                          | image_tag:
                            loading: 'lazy',
                            sizes: sizes,
                            widths: '200,300,400,500,600,800,1000,1200,1400,1600',
                            class: 'zoom-image'
                        -}}
                      </div>
                    </div>
                  {% endif %}
                  {% if solimg != blank %}
                    <div class="solution-img">
                      {{- solimg | image_url: width: '100%' | image_tag: loading: 'lazy' -}}
                      {%- capture sizes -%}(max-width: 699px) 73vw, {{ settings.page_width | divided_by: section.settings.collections_per_row }}px{%- endcapture -%}
                      <div>
                        {{-
                          solimg
                          | image_url: width: solimg.width
                          | image_tag:
                            loading: 'lazy',
                            sizes: sizes,
                            widths: '200,300,400,500,600,800,1000,1200,1400,1600',
                            class: 'zoom-image'
                        -}}
                      </div>
                    </div>
                  {% endif %}
                </div>
                <div class="text-container">
                  {% if title != blank %}
                    <div class="content-heading">{{ title }}</div>
                  {% endif %}
                  {% if content != blank %}
                    <div class="content-desc">{{ content }}</div>
                  {% endif %}
                </div>
              </div>
            {%- else -%}
              {%- for i in (1..section.blocks.size) -%}
                <div class="swiper-slide"></div>
              {%- endfor -%}
            {%- endfor -%}
          </div>
          <div class="swiper-footer">
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
          </div>
          <div class="tab-mobile-footer">
            {% if section.settings.url != blank %}
              <a href="{{section.settings.url}}" class="goshop">
                <span>{{ section.settings.btn_text | default: 'SHOP NOW' }}</span>
                {%- render 'overlay-shopnow-btn-arrowicon' -%}
              </a>
            {% endif %}
            <div class="overlay-goshop-right">
              <div class="overlay-goshop-reviewstar-container">
                {%- render 'review-star' -%}
                {%- render 'review-star' -%}
                {%- render 'review-star' -%}
                {%- render 'review-star' -%}
                {%- render 'review-star' -%}
              </div>
              <p>Based on <b>785</b> Reviews</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{%- endif -%}
<script>
  var swiper = new Swiper('#tabs-swiper', {
    slidesPerView: 1,
    spaceBetween: 12,
    centeredSlides: true,
    centeredSlidesBounds: true,
    grabCursor: true,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    // And if we need scrollbar
    scrollbar: {
      el: '.swiper-scrollbar',
    },
    breakpoints: {
      '@0.00': {
        slidesPerView: 1,
        spaceBetween: 10,
      },
    },
  });
</script>
{% schema %}
{
  "name": "Tabs",
  "class": "shopify-section--tabs",
  "disabled_on": {
    "groups": ["header", "custom.overlay"]
  },
  "max_blocks": 5,
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    },
    {
      "type": "select",
      "id": "content_size",
      "label": "Content size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "fill",
          "label": "Fill page"
        }
      ],
      "default": "medium"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Subheading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "url",
      "id": "url",
      "label": "Button URL",
      "info": "Default to Button URL."
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button text",
      "default": "SHOP NOW"
    },
    {
      "type": "text_alignment",
      "id": "text_alignment",
      "label": "Desktop text alignment",
      "default": "center"
    },
    {
      "type": "checkbox",
      "id": "first_tab_open",
      "label": "Open first tab on mobile"
    },
    {
      "type": "header",
      "content": "Colors",
      "info": "Gradient replaces solid colors when set."
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading color"
    },
    {
      "type": "color_background",
      "id": "heading_gradient",
      "label": "Heading gradient"
    }
  ],
  "blocks": [
    {
      "type": "tab",
      "name": "Tab",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "options": [
            {
              "value": "stubborn",
              "label": "Stubborn Breakout"
            },
            {
              "value": "bumpy-skin",
              "label": "Bumpy Skin"
            },
            {
              "value": "sensitive-skin",
              "label": "Sensitive Skin"
            },
            {
              "value": "pollution",
              "label": "Pollution"
            }
          ],
          "default": "stubborn"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Tab"
        },
        {
          "type": "image_picker",
          "id": "proimg",
          "label": "Problem image",
          "info": "360 x 420px .jpg recommended"
        },
        {
          "type": "image_picker",
          "id": "solimg",
          "label": "Solution image",
          "info": "1247 x 1247px .jpg recommended"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Hyper Link"
        },
        {
          "type": "page",
          "id": "page",
          "label": "Page",
          "info": "Replaces inline content if specified."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Tabs",
      "blocks": [
        {
          "type": "tab",
          "settings": {
            "title": "Tab 1",
            "content": "<p>Use this text to share information about your brand with your customers.</p>"
          }
        },
        {
          "type": "tab",
          "settings": {
            "title": "Tab 2",
            "content": "<p>Describe a product, share announcements, or welcome customers to your store.</p>"
          }
        },
        {
          "type": "tab",
          "settings": {
            "title": "Tab 3",
            "content": "<p>Share information about your shipping rates, return policy or contact information.</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
