{%- if section.blocks.size > 0 -%}
  {%- render 'section-spacing-collapsing' -%}

  <style>
    #shopify-section-{{ section.id }} {
      --testimonial-list-items-per-row: 1;
      --testimonial-list-carousel-item-width: 74vw;

      --testimonial-list-grid: {% if section.settings.stack_testimonials %}auto / repeat(var(--testimonial-list-items-per-row), minmax(0, 1fr)){% else %}auto / auto-flow var(--testimonial-list-carousel-item-width){% endif %};
    }
    #shopify-section-{{ section.id }} .section-blends {
      background-image: url('https://cdn.shopify.com/s/files/1/0496/2936/4391/files/testimonials-gradient-bg.png?v=1725542766') !important;
    }
    #shopify-section-{{ section.id }} .scrollbar {
      {%- assign controls_color = section.settings.text_color | default: section.settings.heading_color | default: settings.text_color -%}
      --text-color: {{ controls_color.rgb }};
    }
    .scrollable-with-controls {
      display: flex;
      flex-direction: column;
      gap: 14px;
    }
    .testimonial {
      box-shadow: 0px 1.84px 9.19px 0px #0000000D;
      display: flex;
      width: 253px;
      align-items: center;
      padding: 10px 16px;
      gap: 10px;
    }

    .testnomial-content {
      font-size: 10px;
      font-weight: 400;
      line-height: 13px;
    }
    .testimonial .text-subdued {
      font-size: 9px;
      font-weight: 600;
      line-height: 9px;
    }
    .rating-container {
      display: flex;
      align-items: center;
      flex-direction: row;
    }

    .rating svg{
      width: 8px;
      height: 7px;
    }
    .announcement-bar__scrolling-list {
    }
    .announcement-bar__item {
      margin-right: 23px;
      display: flex;
      flex-direction: row;
      gap: 23px;
    }
    .announcement-bar__item.reverse {
      animation: translateFullReverse var(--marquee-animation-duration, 0s) linear infinite !important;
    }

    .rtl-marquee:hover .announcement-bar__item {
      animation-play-state:paused;
    }

    .ltr-marquee:hover .announcement-bar__item.reverse {
      animation-play-state:paused !important;
    }

    #shopify-section-{{ section.id }} .overlay-goshop-right {
      display: none;
    }
    @media screen and (min-width: 700px) {
      #shopify-section-{{ section.id }} {
        --testimonial-list-items-per-row: 2;
        --testimonial-list-carousel-item-width: 52vw;
      }
      .scrollable-with-controls {
        gap: 30px;
      }
      .testimonial {
        gap: 16px;
        padding: 33px 38px;
        width: 550px;
      }
      .testimonial img {
        width: 60px;
        height: 60px;
      }
      .testnomial-content {
        font-size: 16px;
        line-height: 22.5px;
      }
      .testimonial .text-subdued {
        font-size: 12px;
        line-height: 12px;
      }
      .rating svg{
        width: 16px;
        height: 15px;
      }
      #shopify-section-{{ section.id }} .overlay-goshop-right {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 16px;
        gap: 8px;
      }
    }

    @media screen and (min-width: 1000px) {
      #shopify-section-{{ section.id }} {
        --testimonial-list-carousel-item-width: 36vw;
      }
    }

    @media screen and (min-width: 1150px) {
      #shopify-section-{{ section.id }} {
        --testimonial-list-items-per-row: 3;
        --testimonial-list-carousel-item-width: calc(100% / 3 - (var(--grid-gutter) / 3 * 2));
      }
    }
  </style>

  <div {% render 'section-properties' %}>
    <div class="section-stack">
      <div class="text-center">
        <div class="overlay-goshop-right">
          <div class="overlay-goshop-reviewstar-container">
            {%- render 'review-star' -%}
            {%- render 'review-star' -%}
            {%- render 'review-star' -%}
            {%- render 'review-star' -%}
            {%- render 'review-star' -%}
          </div>
          <p>Loved by <b>785</b> Happy Customers</p>
        </div>
        {%- render 'section-header',
          subheading: section.settings.subheading,
          heading: section.settings.title,
          heading_color: section.settings.heading_color,
          heading_gradient: section.settings.heading_gradient,
          content: section.settings.content,
          link_text: section.settings.link_text,
          link_url: section.settings.link_url
        -%}
      </div>

      <div class="scrollable-with-controls">
        {%- assign scroll_area_id = 'scroll-area-' | append: section.id -%}
        {% assign rtl_blocks = '' %}
        {% assign ltr_blocks = '' %}

        {% for block in section.blocks %}
          {% if block.settings.ltr == false %}
            {% assign rtl_blocks = rtl_blocks | append: block.id | append: ',' %}
          {% else %}
            {% assign ltr_blocks = ltr_blocks | append: block.id | append: ',' %}
          {% endif %}
        {% endfor %}

        {% comment %}
          Convert the comma-separated strings to arrays
        {% endcomment %}
        {% assign rtl_blocks_array = rtl_blocks | split: ',' | uniq %}
        {% assign ltr_blocks_array = ltr_blocks | split: ',' | uniq %}

        <marquee-text
          scrolling-speed="10"
          class="announcement-bar__scrolling-list rtl-marquee"
          style="--marquee-animation-duration: 23.905s;"
        >
          <span class="announcement-bar__item">
            {%- for block_id in rtl_blocks_array -%}
              {% for block in section.blocks %}
                {% if block.id == block_id %}
                  <div
                    {% render 'surface',
                      class: 'testimonial',
                      background: section.settings.testimonial_card_background,
                      text_color: section.settings.testimonial_card_text_color,
                      background_fallback: 'bg-secondary'
                    %}
                    {{ block.shopify_attributes }}
                  >
                    {%- if block.settings.image != blank
                      or block.settings.author != blank
                      or block.settings.show_rating
                    -%}
                      {%- liquid
                        assign loading_strategy = null

                        if section.index > 3 or forloop.index > 3
                          assign loading_strategy = 'lazy'
                        endif
                      -%}

                      {%- if block.settings.image != blank -%}
                        {%- capture image_class -%}testimonial__image {% if block.settings.round_avatar %}rounded-full{% endif %}{%- endcapture -%}
                        {{-
                          block.settings.image
                          | image_url: width: '60x60'
                          | image_tag:
                            loading: loading_strategy,
                            sizes: '(max-width: 699px) 37px, 37px',
                            widths: '37,40,56,80,112,120,168',
                            class: image_class
                        -}}
                      {%- endif -%}
                    {%- endif -%}

                    {% if block.settings.title != blank or block.settings.content != blank %}
                      <div class="v-stack gap-2 sm:gap-2.5">
                        <div class="testnomial-content">
                          <p>
                            “{{ block.settings.content }}
                            <b>{{ block.settings.title }}</b>
                            ”
                          </p>
                        </div>
                        <div class="v-stack gap-2 sm:gap-2.5 rating-container">
                          {%- if block.settings.author != blank -%}
                            <p class="text-subdued">{{ block.settings.author | escape }}</p>
                          {%- endif -%}
                          {%- if block.settings.show_rating -%}
                            <div class="rating">
                              <div
                                class="rating__stars"
                                role="img"
                                aria-label="{{ 'general.rating.info' | t: rating_value: block.settings.rating, rating_max: 5 }}"
                              >
                                {%- for i in (1..5) -%}
                                  {%- if i <= block.settings.rating -%}
                                    {%- render 'icon' with 'rating-star', class: 'rating__star rating__star--full' -%}
                                  {%- else -%}
                                    {%- render 'icon' with 'rating-star', class: 'rating__star rating__star--empty' -%}
                                  {%- endif -%}
                                {%- endfor -%}
                              </div>
                            </div>
                          {%- endif -%}
                        </div>
                      </div>
                    {% endif %}
                  </div>
                {% endif %}
              {%- endfor -%}
            {%- endfor -%}
          </span>
          <span class="announcement-bar__item">
            {%- for block_id in rtl_blocks_array -%}
              {% for block in section.blocks %}
                {% if block.id == block_id %}
                  <div
                    {% render 'surface',
                      class: 'testimonial',
                      background: section.settings.testimonial_card_background,
                      text_color: section.settings.testimonial_card_text_color,
                      background_fallback: 'bg-secondary'
                    %}
                    {{ block.shopify_attributes }}
                  >
                    {%- if block.settings.image != blank
                      or block.settings.author != blank
                      or block.settings.show_rating
                    -%}
                      {%- liquid
                        assign loading_strategy = null

                        if section.index > 3 or forloop.index > 3
                          assign loading_strategy = 'lazy'
                        endif
                      -%}

                      {%- if block.settings.image != blank -%}
                        {%- capture image_class -%}testimonial__image {% if block.settings.round_avatar %}rounded-full{% endif %}{%- endcapture -%}
                        {{-
                          block.settings.image
                          | image_url: width: '60x60'
                          | image_tag:
                            loading: loading_strategy,
                            sizes: '(max-width: 699px) 37px, 37px',
                            widths: '37,40,56,80,112,120,168',
                            class: image_class
                        -}}
                      {%- endif -%}
                    {%- endif -%}

                    {% if block.settings.title != blank or block.settings.content != blank %}
                      <div class="v-stack gap-2 sm:gap-2.5">
                        <div class="testnomial-content">
                          <p>
                            “{{ block.settings.content }}
                            <b>{{ block.settings.title }}</b>
                            ”
                          </p>
                        </div>
                        <div class="v-stack gap-2 sm:gap-2.5 rating-container">
                          {%- if block.settings.author != blank -%}
                            <p class="text-subdued">{{ block.settings.author | escape }}</p>
                          {%- endif -%}
                          {%- if block.settings.show_rating -%}
                            <div class="rating">
                              <div
                                class="rating__stars"
                                role="img"
                                aria-label="{{ 'general.rating.info' | t: rating_value: block.settings.rating, rating_max: 5 }}"
                              >
                                {%- for i in (1..5) -%}
                                  {%- if i <= block.settings.rating -%}
                                    {%- render 'icon' with 'rating-star', class: 'rating__star rating__star--full' -%}
                                  {%- else -%}
                                    {%- render 'icon' with 'rating-star', class: 'rating__star rating__star--empty' -%}
                                  {%- endif -%}
                                {%- endfor -%}
                              </div>
                            </div>
                          {%- endif -%}
                        </div>
                      </div>
                    {% endif %}
                  </div>
                {% endif %}
              {%- endfor -%}
            {%- endfor -%}
          </span>
          <span class="announcement-bar__item">
            {%- for block_id in rtl_blocks_array -%}
              {% for block in section.blocks %}
                {% if block.id == block_id %}
                  <div
                    {% render 'surface',
                      class: 'testimonial',
                      background: section.settings.testimonial_card_background,
                      text_color: section.settings.testimonial_card_text_color,
                      background_fallback: 'bg-secondary'
                    %}
                    {{ block.shopify_attributes }}
                  >
                    {%- if block.settings.image != blank
                      or block.settings.author != blank
                      or block.settings.show_rating
                    -%}
                      {%- liquid
                        assign loading_strategy = null

                        if section.index > 3 or forloop.index > 3
                          assign loading_strategy = 'lazy'
                        endif
                      -%}

                      {%- if block.settings.image != blank -%}
                        {%- capture image_class -%}testimonial__image {% if block.settings.round_avatar %}rounded-full{% endif %}{%- endcapture -%}
                        {{-
                          block.settings.image
                          | image_url: width: '60x60'
                          | image_tag:
                            loading: loading_strategy,
                            sizes: '(max-width: 699px) 37px, 37px',
                            widths: '37,40,56,80,112,120,168',
                            class: image_class
                        -}}
                      {%- endif -%}
                    {%- endif -%}

                    {% if block.settings.title != blank or block.settings.content != blank %}
                      <div class="v-stack gap-2 sm:gap-2.5">
                        <div class="testnomial-content">
                          <p>
                            “{{ block.settings.content }}
                            <b>{{ block.settings.title }}</b>
                            ”
                          </p>
                        </div>
                        <div class="v-stack gap-2 sm:gap-2.5 rating-container">
                          {%- if block.settings.author != blank -%}
                            <p class="text-subdued">{{ block.settings.author | escape }}</p>
                          {%- endif -%}
                          {%- if block.settings.show_rating -%}
                            <div class="rating">
                              <div
                                class="rating__stars"
                                role="img"
                                aria-label="{{ 'general.rating.info' | t: rating_value: block.settings.rating, rating_max: 5 }}"
                              >
                                {%- for i in (1..5) -%}
                                  {%- if i <= block.settings.rating -%}
                                    {%- render 'icon' with 'rating-star', class: 'rating__star rating__star--full' -%}
                                  {%- else -%}
                                    {%- render 'icon' with 'rating-star', class: 'rating__star rating__star--empty' -%}
                                  {%- endif -%}
                                {%- endfor -%}
                              </div>
                            </div>
                          {%- endif -%}
                        </div>
                      </div>
                    {% endif %}
                  </div>
                {% endif %}
              {%- endfor -%}
            {%- endfor -%}
          </span>
          <span class="announcement-bar__item">
            {%- for block_id in rtl_blocks_array -%}
              {% for block in section.blocks %}
                {% if block.id == block_id %}
                  <div
                    {% render 'surface',
                      class: 'testimonial',
                      background: section.settings.testimonial_card_background,
                      text_color: section.settings.testimonial_card_text_color,
                      background_fallback: 'bg-secondary'
                    %}
                    {{ block.shopify_attributes }}
                  >
                    {%- if block.settings.image != blank
                      or block.settings.author != blank
                      or block.settings.show_rating
                    -%}
                      {%- liquid
                        assign loading_strategy = null

                        if section.index > 3 or forloop.index > 3
                          assign loading_strategy = 'lazy'
                        endif
                      -%}

                      {%- if block.settings.image != blank -%}
                        {%- capture image_class -%}testimonial__image {% if block.settings.round_avatar %}rounded-full{% endif %}{%- endcapture -%}
                        {{-
                          block.settings.image
                          | image_url: width: '60x60'
                          | image_tag:
                            loading: loading_strategy,
                            sizes: '(max-width: 699px) 37px, 37px',
                            widths: '37,40,56,80,112,120,168',
                            class: image_class
                        -}}
                      {%- endif -%}
                    {%- endif -%}

                    {% if block.settings.title != blank or block.settings.content != blank %}
                      <div class="v-stack gap-2 sm:gap-2.5">
                        <div class="testnomial-content">
                          <p>
                            “{{ block.settings.content }}
                            <b>{{ block.settings.title }}</b>
                            ”
                          </p>
                        </div>
                        <div class="v-stack gap-2 sm:gap-2.5 rating-container">
                          {%- if block.settings.author != blank -%}
                            <p class="text-subdued">{{ block.settings.author | escape }}</p>
                          {%- endif -%}
                          {%- if block.settings.show_rating -%}
                            <div class="rating">
                              <div
                                class="rating__stars"
                                role="img"
                                aria-label="{{ 'general.rating.info' | t: rating_value: block.settings.rating, rating_max: 5 }}"
                              >
                                {%- for i in (1..5) -%}
                                  {%- if i <= block.settings.rating -%}
                                    {%- render 'icon' with 'rating-star', class: 'rating__star rating__star--full' -%}
                                  {%- else -%}
                                    {%- render 'icon' with 'rating-star', class: 'rating__star rating__star--empty' -%}
                                  {%- endif -%}
                                {%- endfor -%}
                              </div>
                            </div>
                          {%- endif -%}
                        </div>
                      </div>
                    {% endif %}
                  </div>
                {% endif %}
              {%- endfor -%}
            {%- endfor -%}
          </span>
          <span class="announcement-bar__item">
            {%- for block_id in rtl_blocks_array -%}
              {% for block in section.blocks %}
                {% if block.id == block_id %}
                  <div
                    {% render 'surface',
                      class: 'testimonial',
                      background: section.settings.testimonial_card_background,
                      text_color: section.settings.testimonial_card_text_color,
                      background_fallback: 'bg-secondary'
                    %}
                    {{ block.shopify_attributes }}
                  >
                    {%- if block.settings.image != blank
                      or block.settings.author != blank
                      or block.settings.show_rating
                    -%}
                      {%- liquid
                        assign loading_strategy = null

                        if section.index > 3 or forloop.index > 3
                          assign loading_strategy = 'lazy'
                        endif
                      -%}

                      {%- if block.settings.image != blank -%}
                        {%- capture image_class -%}testimonial__image {% if block.settings.round_avatar %}rounded-full{% endif %}{%- endcapture -%}
                        {{-
                          block.settings.image
                          | image_url: width: '60x60'
                          | image_tag:
                            loading: loading_strategy,
                            sizes: '(max-width: 699px) 37px, 37px',
                            widths: '37,40,56,80,112,120,168',
                            class: image_class
                        -}}
                      {%- endif -%}
                    {%- endif -%}

                    {% if block.settings.title != blank or block.settings.content != blank %}
                      <div class="v-stack gap-2 sm:gap-2.5">
                        <div class="testnomial-content">
                          <p>
                            “{{ block.settings.content }}
                            <b>{{ block.settings.title }}</b>
                            ”
                          </p>
                        </div>
                        <div class="v-stack gap-2 sm:gap-2.5 rating-container">
                          {%- if block.settings.author != blank -%}
                            <p class="text-subdued">{{ block.settings.author | escape }}</p>
                          {%- endif -%}
                          {%- if block.settings.show_rating -%}
                            <div class="rating">
                              <div
                                class="rating__stars"
                                role="img"
                                aria-label="{{ 'general.rating.info' | t: rating_value: block.settings.rating, rating_max: 5 }}"
                              >
                                {%- for i in (1..5) -%}
                                  {%- if i <= block.settings.rating -%}
                                    {%- render 'icon' with 'rating-star', class: 'rating__star rating__star--full' -%}
                                  {%- else -%}
                                    {%- render 'icon' with 'rating-star', class: 'rating__star rating__star--empty' -%}
                                  {%- endif -%}
                                {%- endfor -%}
                              </div>
                            </div>
                          {%- endif -%}
                        </div>
                      </div>
                    {% endif %}
                  </div>
                {% endif %}
              {%- endfor -%}
            {%- endfor -%}
          </span>
          <span class="announcement-bar__item">
            {%- for block_id in rtl_blocks_array -%}
              {% for block in section.blocks %}
                {% if block.id == block_id %}
                  <div
                    {% render 'surface',
                      class: 'testimonial',
                      background: section.settings.testimonial_card_background,
                      text_color: section.settings.testimonial_card_text_color,
                      background_fallback: 'bg-secondary'
                    %}
                    {{ block.shopify_attributes }}
                  >
                    {%- if block.settings.image != blank
                      or block.settings.author != blank
                      or block.settings.show_rating
                    -%}
                      {%- liquid
                        assign loading_strategy = null

                        if section.index > 3 or forloop.index > 3
                          assign loading_strategy = 'lazy'
                        endif
                      -%}

                      {%- if block.settings.image != blank -%}
                        {%- capture image_class -%}testimonial__image {% if block.settings.round_avatar %}rounded-full{% endif %}{%- endcapture -%}
                        {{-
                          block.settings.image
                          | image_url: width: '60x60'
                          | image_tag:
                            loading: loading_strategy,
                            sizes: '(max-width: 699px) 37px, 37px',
                            widths: '37,40,56,80,112,120,168',
                            class: image_class
                        -}}
                      {%- endif -%}
                    {%- endif -%}

                    {% if block.settings.title != blank or block.settings.content != blank %}
                      <div class="v-stack gap-2 sm:gap-2.5">
                        <div class="testnomial-content">
                          <p>
                            “{{ block.settings.content }}
                            <b>{{ block.settings.title }}</b>
                            ”
                          </p>
                        </div>
                        <div class="v-stack gap-2 sm:gap-2.5 rating-container">
                          {%- if block.settings.author != blank -%}
                            <p class="text-subdued">{{ block.settings.author | escape }}</p>
                          {%- endif -%}
                          {%- if block.settings.show_rating -%}
                            <div class="rating">
                              <div
                                class="rating__stars"
                                role="img"
                                aria-label="{{ 'general.rating.info' | t: rating_value: block.settings.rating, rating_max: 5 }}"
                              >
                                {%- for i in (1..5) -%}
                                  {%- if i <= block.settings.rating -%}
                                    {%- render 'icon' with 'rating-star', class: 'rating__star rating__star--full' -%}
                                  {%- else -%}
                                    {%- render 'icon' with 'rating-star', class: 'rating__star rating__star--empty' -%}
                                  {%- endif -%}
                                {%- endfor -%}
                              </div>
                            </div>
                          {%- endif -%}
                        </div>
                      </div>
                    {% endif %}
                  </div>
                {% endif %}
              {%- endfor -%}
            {%- endfor -%}
          </span>
          <span class="announcement-bar__item">
            {%- for block_id in rtl_blocks_array -%}
              {% for block in section.blocks %}
                {% if block.id == block_id %}
                  <div
                    {% render 'surface',
                      class: 'testimonial',
                      background: section.settings.testimonial_card_background,
                      text_color: section.settings.testimonial_card_text_color,
                      background_fallback: 'bg-secondary'
                    %}
                    {{ block.shopify_attributes }}
                  >
                    {%- if block.settings.image != blank
                      or block.settings.author != blank
                      or block.settings.show_rating
                    -%}
                      {%- liquid
                        assign loading_strategy = null

                        if section.index > 3 or forloop.index > 3
                          assign loading_strategy = 'lazy'
                        endif
                      -%}

                      {%- if block.settings.image != blank -%}
                        {%- capture image_class -%}testimonial__image {% if block.settings.round_avatar %}rounded-full{% endif %}{%- endcapture -%}
                        {{-
                          block.settings.image
                          | image_url: width: '60x60'
                          | image_tag:
                            loading: loading_strategy,
                            sizes: '(max-width: 699px) 37px, 37px',
                            widths: '37,40,56,80,112,120,168',
                            class: image_class
                        -}}
                      {%- endif -%}
                    {%- endif -%}

                    {% if block.settings.title != blank or block.settings.content != blank %}
                      <div class="v-stack gap-2 sm:gap-2.5">
                        <div class="testnomial-content">
                          <p>
                            “{{ block.settings.content }}
                            <b>{{ block.settings.title }}</b>
                            ”
                          </p>
                        </div>
                        <div class="v-stack gap-2 sm:gap-2.5 rating-container">
                          {%- if block.settings.author != blank -%}
                            <p class="text-subdued">{{ block.settings.author | escape }}</p>
                          {%- endif -%}
                          {%- if block.settings.show_rating -%}
                            <div class="rating">
                              <div
                                class="rating__stars"
                                role="img"
                                aria-label="{{ 'general.rating.info' | t: rating_value: block.settings.rating, rating_max: 5 }}"
                              >
                                {%- for i in (1..5) -%}
                                  {%- if i <= block.settings.rating -%}
                                    {%- render 'icon' with 'rating-star', class: 'rating__star rating__star--full' -%}
                                  {%- else -%}
                                    {%- render 'icon' with 'rating-star', class: 'rating__star rating__star--empty' -%}
                                  {%- endif -%}
                                {%- endfor -%}
                              </div>
                            </div>
                          {%- endif -%}
                        </div>
                      </div>
                    {% endif %}
                  </div>
                {% endif %}
              {%- endfor -%}
            {%- endfor -%}
          </span>
        </marquee-text>
        <marquee-text
          scrolling-speed="10"
          class="announcement-bar__scrolling-list ltr-marquee"
          style="--marquee-animation-duration: 23.905s;"
        >
          <span class="announcement-bar__item reverse">
            {%- for block_id in ltr_blocks_array -%}
              {% for block in section.blocks %}
                {% if block.id == block_id %}
                  <div
                    {% render 'surface',
                      class: 'testimonial',
                      background: section.settings.testimonial_card_background,
                      text_color: section.settings.testimonial_card_text_color,
                      background_fallback: 'bg-secondary'
                    %}
                    {{ block.shopify_attributes }}
                  >
                    {%- if block.settings.image != blank
                      or block.settings.author != blank
                      or block.settings.show_rating
                    -%}
                      {%- liquid
                        assign loading_strategy = null

                        if section.index > 3 or forloop.index > 3
                          assign loading_strategy = 'lazy'
                        endif
                      -%}

                      {%- if block.settings.image != blank -%}
                        {%- capture image_class -%}testimonial__image {% if block.settings.round_avatar %}rounded-full{% endif %}{%- endcapture -%}
                        {{-
                          block.settings.image
                          | image_url: width: '60x60'
                          | image_tag:
                            loading: loading_strategy,
                            sizes: '(max-width: 699px) 37px, 37px',
                            widths: '37,40,56,80,112,120,168',
                            class: image_class
                        -}}
                      {%- endif -%}
                    {%- endif -%}

                    {% if block.settings.title != blank or block.settings.content != blank %}
                      <div class="v-stack gap-2 sm:gap-2.5">
                        <div class="testnomial-content">
                          <p>
                            “{{ block.settings.content }}
                            <b>{{ block.settings.title }}</b>
                            ”
                          </p>
                        </div>
                        <div class="v-stack gap-2 sm:gap-2.5 rating-container">
                          {%- if block.settings.author != blank -%}
                            <p class="text-subdued">{{ block.settings.author | escape }}</p>
                          {%- endif -%}
                          {%- if block.settings.show_rating -%}
                            <div class="rating">
                              <div
                                class="rating__stars"
                                role="img"
                                aria-label="{{ 'general.rating.info' | t: rating_value: block.settings.rating, rating_max: 5 }}"
                              >
                                {%- for i in (1..5) -%}
                                  {%- if i <= block.settings.rating -%}
                                    {%- render 'icon' with 'rating-star', class: 'rating__star rating__star--full' -%}
                                  {%- else -%}
                                    {%- render 'icon' with 'rating-star', class: 'rating__star rating__star--empty' -%}
                                  {%- endif -%}
                                {%- endfor -%}
                              </div>
                            </div>
                          {%- endif -%}
                        </div>
                      </div>
                    {% endif %}
                  </div>
                {% endif %}
              {%- endfor -%}
            {%- endfor -%}
          </span>
          <span class="announcement-bar__item reverse">
            {%- for block_id in ltr_blocks_array -%}
              {% for block in section.blocks %}
                {% if block.id == block_id %}
                  <div
                    {% render 'surface',
                      class: 'testimonial',
                      background: section.settings.testimonial_card_background,
                      text_color: section.settings.testimonial_card_text_color,
                      background_fallback: 'bg-secondary'
                    %}
                    {{ block.shopify_attributes }}
                  >
                    {%- if block.settings.image != blank
                      or block.settings.author != blank
                      or block.settings.show_rating
                    -%}
                      {%- liquid
                        assign loading_strategy = null

                        if section.index > 3 or forloop.index > 3
                          assign loading_strategy = 'lazy'
                        endif
                      -%}

                      {%- if block.settings.image != blank -%}
                        {%- capture image_class -%}testimonial__image {% if block.settings.round_avatar %}rounded-full{% endif %}{%- endcapture -%}
                        {{-
                          block.settings.image
                          | image_url: width: '60x60'
                          | image_tag:
                            loading: loading_strategy,
                            sizes: '(max-width: 699px) 37px, 37px',
                            widths: '37,40,56,80,112,120,168',
                            class: image_class
                        -}}
                      {%- endif -%}
                    {%- endif -%}

                    {% if block.settings.title != blank or block.settings.content != blank %}
                      <div class="v-stack gap-2 sm:gap-2.5">
                        <div class="testnomial-content">
                          <p>
                            “{{ block.settings.content }}
                            <b>{{ block.settings.title }}</b>
                            ”
                          </p>
                        </div>
                        <div class="v-stack gap-2 sm:gap-2.5 rating-container">
                          {%- if block.settings.author != blank -%}
                            <p class="text-subdued">{{ block.settings.author | escape }}</p>
                          {%- endif -%}
                          {%- if block.settings.show_rating -%}
                            <div class="rating">
                              <div
                                class="rating__stars"
                                role="img"
                                aria-label="{{ 'general.rating.info' | t: rating_value: block.settings.rating, rating_max: 5 }}"
                              >
                                {%- for i in (1..5) -%}
                                  {%- if i <= block.settings.rating -%}
                                    {%- render 'icon' with 'rating-star', class: 'rating__star rating__star--full' -%}
                                  {%- else -%}
                                    {%- render 'icon' with 'rating-star', class: 'rating__star rating__star--empty' -%}
                                  {%- endif -%}
                                {%- endfor -%}
                              </div>
                            </div>
                          {%- endif -%}
                        </div>
                      </div>
                    {% endif %}
                  </div>
                {% endif %}
              {%- endfor -%}
            {%- endfor -%}
          </span>
          <span class="announcement-bar__item reverse">
            {%- for block_id in ltr_blocks_array -%}
              {% for block in section.blocks %}
                {% if block.id == block_id %}
                  <div
                    {% render 'surface',
                      class: 'testimonial',
                      background: section.settings.testimonial_card_background,
                      text_color: section.settings.testimonial_card_text_color,
                      background_fallback: 'bg-secondary'
                    %}
                    {{ block.shopify_attributes }}
                  >
                    {%- if block.settings.image != blank
                      or block.settings.author != blank
                      or block.settings.show_rating
                    -%}
                      {%- liquid
                        assign loading_strategy = null

                        if section.index > 3 or forloop.index > 3
                          assign loading_strategy = 'lazy'
                        endif
                      -%}

                      {%- if block.settings.image != blank -%}
                        {%- capture image_class -%}testimonial__image {% if block.settings.round_avatar %}rounded-full{% endif %}{%- endcapture -%}
                        {{-
                          block.settings.image
                          | image_url: width: '60x60'
                          | image_tag:
                            loading: loading_strategy,
                            sizes: '(max-width: 699px) 37px, 37px',
                            widths: '37,40,56,80,112,120,168',
                            class: image_class
                        -}}
                      {%- endif -%}
                    {%- endif -%}

                    {% if block.settings.title != blank or block.settings.content != blank %}
                      <div class="v-stack gap-2 sm:gap-2.5">
                        <div class="testnomial-content">
                          <p>
                            “{{ block.settings.content }}
                            <b>{{ block.settings.title }}</b>
                            ”
                          </p>
                        </div>
                        <div class="v-stack gap-2 sm:gap-2.5 rating-container">
                          {%- if block.settings.author != blank -%}
                            <p class="text-subdued">{{ block.settings.author | escape }}</p>
                          {%- endif -%}
                          {%- if block.settings.show_rating -%}
                            <div class="rating">
                              <div
                                class="rating__stars"
                                role="img"
                                aria-label="{{ 'general.rating.info' | t: rating_value: block.settings.rating, rating_max: 5 }}"
                              >
                                {%- for i in (1..5) -%}
                                  {%- if i <= block.settings.rating -%}
                                    {%- render 'icon' with 'rating-star', class: 'rating__star rating__star--full' -%}
                                  {%- else -%}
                                    {%- render 'icon' with 'rating-star', class: 'rating__star rating__star--empty' -%}
                                  {%- endif -%}
                                {%- endfor -%}
                              </div>
                            </div>
                          {%- endif -%}
                        </div>
                      </div>
                    {% endif %}
                  </div>
                {% endif %}
              {%- endfor -%}
            {%- endfor -%}
          </span>
          <span class="announcement-bar__item reverse">
            {%- for block_id in ltr_blocks_array -%}
              {% for block in section.blocks %}
                {% if block.id == block_id %}
                  <div
                    {% render 'surface',
                      class: 'testimonial',
                      background: section.settings.testimonial_card_background,
                      text_color: section.settings.testimonial_card_text_color,
                      background_fallback: 'bg-secondary'
                    %}
                    {{ block.shopify_attributes }}
                  >
                    {%- if block.settings.image != blank
                      or block.settings.author != blank
                      or block.settings.show_rating
                    -%}
                      {%- liquid
                        assign loading_strategy = null

                        if section.index > 3 or forloop.index > 3
                          assign loading_strategy = 'lazy'
                        endif
                      -%}

                      {%- if block.settings.image != blank -%}
                        {%- capture image_class -%}testimonial__image {% if block.settings.round_avatar %}rounded-full{% endif %}{%- endcapture -%}
                        {{-
                          block.settings.image
                          | image_url: width: '60x60'
                          | image_tag:
                            loading: loading_strategy,
                            sizes: '(max-width: 699px) 37px, 37px',
                            widths: '37,40,56,80,112,120,168',
                            class: image_class
                        -}}
                      {%- endif -%}
                    {%- endif -%}

                    {% if block.settings.title != blank or block.settings.content != blank %}
                      <div class="v-stack gap-2 sm:gap-2.5">
                        <div class="testnomial-content">
                          <p>
                            “{{ block.settings.content }}
                            <b>{{ block.settings.title }}</b>
                            ”
                          </p>
                        </div>
                        <div class="v-stack gap-2 sm:gap-2.5 rating-container">
                          {%- if block.settings.author != blank -%}
                            <p class="text-subdued">{{ block.settings.author | escape }}</p>
                          {%- endif -%}
                          {%- if block.settings.show_rating -%}
                            <div class="rating">
                              <div
                                class="rating__stars"
                                role="img"
                                aria-label="{{ 'general.rating.info' | t: rating_value: block.settings.rating, rating_max: 5 }}"
                              >
                                {%- for i in (1..5) -%}
                                  {%- if i <= block.settings.rating -%}
                                    {%- render 'icon' with 'rating-star', class: 'rating__star rating__star--full' -%}
                                  {%- else -%}
                                    {%- render 'icon' with 'rating-star', class: 'rating__star rating__star--empty' -%}
                                  {%- endif -%}
                                {%- endfor -%}
                              </div>
                            </div>
                          {%- endif -%}
                        </div>
                      </div>
                    {% endif %}
                  </div>
                {% endif %}
              {%- endfor -%}
            {%- endfor -%}
          </span>
          <span class="announcement-bar__item reverse">
            {%- for block_id in ltr_blocks_array -%}
              {% for block in section.blocks %}
                {% if block.id == block_id %}
                  <div
                    {% render 'surface',
                      class: 'testimonial',
                      background: section.settings.testimonial_card_background,
                      text_color: section.settings.testimonial_card_text_color,
                      background_fallback: 'bg-secondary'
                    %}
                    {{ block.shopify_attributes }}
                  >
                    {%- if block.settings.image != blank
                      or block.settings.author != blank
                      or block.settings.show_rating
                    -%}
                      {%- liquid
                        assign loading_strategy = null

                        if section.index > 3 or forloop.index > 3
                          assign loading_strategy = 'lazy'
                        endif
                      -%}

                      {%- if block.settings.image != blank -%}
                        {%- capture image_class -%}testimonial__image {% if block.settings.round_avatar %}rounded-full{% endif %}{%- endcapture -%}
                        {{-
                          block.settings.image
                          | image_url: width: '60x60'
                          | image_tag:
                            loading: loading_strategy,
                            sizes: '(max-width: 699px) 37px, 37px',
                            widths: '37,40,56,80,112,120,168',
                            class: image_class
                        -}}
                      {%- endif -%}
                    {%- endif -%}

                    {% if block.settings.title != blank or block.settings.content != blank %}
                      <div class="v-stack gap-2 sm:gap-2.5">
                        <div class="testnomial-content">
                          <p>
                            “{{ block.settings.content }}
                            <b>{{ block.settings.title }}</b>
                            ”
                          </p>
                        </div>
                        <div class="v-stack gap-2 sm:gap-2.5 rating-container">
                          {%- if block.settings.author != blank -%}
                            <p class="text-subdued">{{ block.settings.author | escape }}</p>
                          {%- endif -%}
                          {%- if block.settings.show_rating -%}
                            <div class="rating">
                              <div
                                class="rating__stars"
                                role="img"
                                aria-label="{{ 'general.rating.info' | t: rating_value: block.settings.rating, rating_max: 5 }}"
                              >
                                {%- for i in (1..5) -%}
                                  {%- if i <= block.settings.rating -%}
                                    {%- render 'icon' with 'rating-star', class: 'rating__star rating__star--full' -%}
                                  {%- else -%}
                                    {%- render 'icon' with 'rating-star', class: 'rating__star rating__star--empty' -%}
                                  {%- endif -%}
                                {%- endfor -%}
                              </div>
                            </div>
                          {%- endif -%}
                        </div>
                      </div>
                    {% endif %}
                  </div>
                {% endif %}
              {%- endfor -%}
            {%- endfor -%}
          </span>
          <span class="announcement-bar__item reverse">
            {%- for block_id in ltr_blocks_array -%}
              {% for block in section.blocks %}
                {% if block.id == block_id %}
                  <div
                    {% render 'surface',
                      class: 'testimonial',
                      background: section.settings.testimonial_card_background,
                      text_color: section.settings.testimonial_card_text_color,
                      background_fallback: 'bg-secondary'
                    %}
                    {{ block.shopify_attributes }}
                  >
                    {%- if block.settings.image != blank
                      or block.settings.author != blank
                      or block.settings.show_rating
                    -%}
                      {%- liquid
                        assign loading_strategy = null

                        if section.index > 3 or forloop.index > 3
                          assign loading_strategy = 'lazy'
                        endif
                      -%}

                      {%- if block.settings.image != blank -%}
                        {%- capture image_class -%}testimonial__image {% if block.settings.round_avatar %}rounded-full{% endif %}{%- endcapture -%}
                        {{-
                          block.settings.image
                          | image_url: width: '60x60'
                          | image_tag:
                            loading: loading_strategy,
                            sizes: '(max-width: 699px) 37px, 37px',
                            widths: '37,40,56,80,112,120,168',
                            class: image_class
                        -}}
                      {%- endif -%}
                    {%- endif -%}

                    {% if block.settings.title != blank or block.settings.content != blank %}
                      <div class="v-stack gap-2 sm:gap-2.5">
                        <div class="testnomial-content">
                          <p>
                            “{{ block.settings.content }}
                            <b>{{ block.settings.title }}</b>
                            ”
                          </p>
                        </div>
                        <div class="v-stack gap-2 sm:gap-2.5 rating-container">
                          {%- if block.settings.author != blank -%}
                            <p class="text-subdued">{{ block.settings.author | escape }}</p>
                          {%- endif -%}
                          {%- if block.settings.show_rating -%}
                            <div class="rating">
                              <div
                                class="rating__stars"
                                role="img"
                                aria-label="{{ 'general.rating.info' | t: rating_value: block.settings.rating, rating_max: 5 }}"
                              >
                                {%- for i in (1..5) -%}
                                  {%- if i <= block.settings.rating -%}
                                    {%- render 'icon' with 'rating-star', class: 'rating__star rating__star--full' -%}
                                  {%- else -%}
                                    {%- render 'icon' with 'rating-star', class: 'rating__star rating__star--empty' -%}
                                  {%- endif -%}
                                {%- endfor -%}
                              </div>
                            </div>
                          {%- endif -%}
                        </div>
                      </div>
                    {% endif %}
                  </div>
                {% endif %}
              {%- endfor -%}
            {%- endfor -%}
          </span>
          <span class="announcement-bar__item reverse">
            {%- for block_id in ltr_blocks_array -%}
              {% for block in section.blocks %}
                {% if block.id == block_id %}
                  <div
                    {% render 'surface',
                      class: 'testimonial',
                      background: section.settings.testimonial_card_background,
                      text_color: section.settings.testimonial_card_text_color,
                      background_fallback: 'bg-secondary'
                    %}
                    {{ block.shopify_attributes }}
                  >
                    {%- if block.settings.image != blank
                      or block.settings.author != blank
                      or block.settings.show_rating
                    -%}
                      {%- liquid
                        assign loading_strategy = null

                        if section.index > 3 or forloop.index > 3
                          assign loading_strategy = 'lazy'
                        endif
                      -%}

                      {%- if block.settings.image != blank -%}
                        {%- capture image_class -%}testimonial__image {% if block.settings.round_avatar %}rounded-full{% endif %}{%- endcapture -%}
                        {{-
                          block.settings.image
                          | image_url: width: '60x60'
                          | image_tag:
                            loading: loading_strategy,
                            sizes: '(max-width: 699px) 37px, 37px',
                            widths: '37,40,56,80,112,120,168',
                            class: image_class
                        -}}
                      {%- endif -%}
                    {%- endif -%}

                    {% if block.settings.title != blank or block.settings.content != blank %}
                      <div class="v-stack gap-2 sm:gap-2.5">
                        <div class="testnomial-content">
                          <p>
                            “{{ block.settings.content }}
                            <b>{{ block.settings.title }}</b>
                            ”
                          </p>
                        </div>
                        <div class="v-stack gap-2 sm:gap-2.5 rating-container">
                          {%- if block.settings.author != blank -%}
                            <p class="text-subdued">{{ block.settings.author | escape }}</p>
                          {%- endif -%}
                          {%- if block.settings.show_rating -%}
                            <div class="rating">
                              <div
                                class="rating__stars"
                                role="img"
                                aria-label="{{ 'general.rating.info' | t: rating_value: block.settings.rating, rating_max: 5 }}"
                              >
                                {%- for i in (1..5) -%}
                                  {%- if i <= block.settings.rating -%}
                                    {%- render 'icon' with 'rating-star', class: 'rating__star rating__star--full' -%}
                                  {%- else -%}
                                    {%- render 'icon' with 'rating-star', class: 'rating__star rating__star--empty' -%}
                                  {%- endif -%}
                                {%- endfor -%}
                              </div>
                            </div>
                          {%- endif -%}
                        </div>
                      </div>
                    {% endif %}
                  </div>
                {% endif %}
              {%- endfor -%}
            {%- endfor -%}
          </span>
        </marquee-text>
        {%- unless section.settings.stack_testimonials -%}
          {%- assign default_progress = 3.0 | divided_by: section.blocks.size -%}
          {%- render 'scrollbar', observes: scroll_area_id, default_progress: default_progress, show_buttons: true -%}
        {%- endunless -%}
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Testimonials",
  "class": "shopify-section--testimonials",
  "disabled_on": {
    "groups": ["header", "custom.overlay"]
  },
  "tag": "section",
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Avatar",
          "info": "250 x 250px .jpg recommended"
        },
        {
          "type": "checkbox",
          "id": "round_avatar",
          "label": "Round avatar",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_rating",
          "label": "Show rating",
          "default": true
        },
        {
          "type": "range",
          "min": 0,
          "max": 5,
          "id": "rating",
          "label": "Rating",
          "default": 4
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Testimonial"
        },
        {
          "type": "text",
          "id": "content",
          "label": "Content",
          "default": "Share what your customers are saying about your products, customer service or shipping rates."
        },
        {
          "type": "checkbox",
          "id": "ltr",
          "label": "Left to Right Animation",
          "default": false
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "stack_testimonials",
      "label": "Stack testimonials",
      "default": true
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Testimonials"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link text"
    },
    {
      "type": "header",
      "content": "Colors",
      "info": "Gradient replaces solid colors when set."
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading color"
    },
    {
      "type": "color_background",
      "id": "heading_gradient",
      "label": "Heading gradient"
    },
    {
      "type": "color",
      "id": "testimonial_card_background",
      "label": "Testimonial card background"
    },
    {
      "type": "color",
      "id": "testimonial_card_text_color",
      "label": "Testimonial card text"
    }
  ],
  "presets": [
    {
      "name": "Testimonials",
      "blocks": [
        {
          "type": "testimonial",
          "settings": {
            "rating": 4,
            "author": "John S.",
            "title": "Testimonial 1",
            "content": "Share what your customers are saying about your products, customer service or shipping rates.",
            "ltr": false
          }
        },
        {
          "type": "testimonial",
          "settings": {
            "rating": 5,
            "author": "Mary U.",
            "title": "Testimonial 2",
            "content": "Share what your customers are saying about your products, customer service or shipping rates.",
            "ltr": false
          }
        },
        {
          "type": "testimonial",
          "settings": {
            "rating": 4,
            "author": "Joshua A.",
            "title": "Testimonial 3",
            "content": "Share what your customers are saying about your products, customer service or shipping rates.",
            "ltr": false
          }
        },
        {
          "type": "testimonial",
          "settings": {
            "rating": 4,
            "author": "Talha C.",
            "title": "Testimonial 4",
            "content": "Share what your customers are saying about your products, customer service or shipping rates.",
            "ltr": false
          }
        },
        {
          "type": "testimonial",
          "settings": {
            "rating": 4,
            "author": "Cross B.",
            "title": "Testimonial 5",
            "content": "Share what your customers are saying about your products, customer service or shipping rates.",
            "ltr": false
          }
        },
        {
          "type": "testimonial",
          "settings": {
            "rating": 4,
            "author": "Kara A.",
            "title": "Testimonial 6",
            "content": "Share what your customers are saying about your products, customer service or shipping rates.",
            "ltr": false
          }
        }
      ]
    }
  ]
}
{% endschema %}
